{% comment %}
  Comments will not appear right after they are submitted, either to be checked for spam
  or to await moderation. When a comment is submitted, the browser is redirected to a page
  that renders the new comment id in its URL.
    Example: http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372

  More information:
    - http://docs.shopify.com/themes/liquid-variables/comment
{% endcomment %}

{% comment %}
  We're going to reference the number of comments below, so let's hold it in a variable.
{% endcomment %}
{% assign number_of_comments = article.comments_count %}

{% comment %}
  If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<div class="halo-blog-page halo-article-page">
  <div class="container">
    <header class="page-header">
      {% if current_tags %}
      <h1>
      	{% render 'multilang' with blog.title | link_to: blog.url %}
        &raquo; {{ current_tags.first }}
      </h1>      
      {% else %}
      <h1>
      	{% render 'multilang' with blog.title %}
      </h1>
      {% endif %}
    </header>
    
    {% if settings.display_sidebar_blog %}
    <a class="halo-fillter sidebar-label" href="javascript:void(0)">
      <span class="icon-filter">{% render 'icon_filter' %}</span>
      <span class="sidebar_more" {% if settings.enable_multilang %}data-translate="blogs.sidebar.sidebar_more_blog"{% endif %}>
        {{ 'blogs.sidebar.sidebar_more_blog' | t }}
      </span>
    </a>
    
    <div class="close-filter hide">       
      <a href="javascript:void(0)" title="Close">
        {% render 'icon-close' %}
      </a>
    </div>
    {% endif %}
    
    <div class="row flex-direction {{ blog.template_suffix }}">
      {% if settings.display_sidebar_blog %}
      <aside class="sidebar blog-sidebar col-12 col-md-12 col-lg-3">
        {% section 'sidebar-blog' %}
      </aside>
      {% endif %}
      
      <div class="block-row col-main blog-detail col-12 col-md-12{% if settings.display_sidebar_blog %} col-lg-9{% else %} col-lg-12{% endif %}">
        <header class="page-title">
          <h1>
          	{% render 'multilang' with article.title %}
          </h1>          
        </header>
        
        <div class="blog_author">          
          {% capture date %}<time datetime='{{ article.published_at | date: '%Y-%m-%d' }}'>{{ article.published_at | date: '%b %d, %Y' }}</time>{% endcapture %}
          {% capture author %}{{ article.author }}{% endcapture %}
          <span class="blog_author" {% if settings.enable_multilang %}data-translate="blogs.article.author_on_date_html|date:{{date}},author:{{author}}" translate-item="blog-date-author"{%endif%}>
            {{ 'blogs.article.author_on_date_html' | t: date: date, author: author }}        
          </span>
          
          {% if blog.comments_enabled? %}
          <a href="{{ article.url }}#comments" {% if settings.enable_multilang %}data-translate="blogs.comments.comments_with_count|count:{{article.comments_count}}"{%endif%}>
            {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
          </a>
          {% endif %}
        </div>


        {% if settings.enable_multilang %}
        <div class="rte lang1">
          {{ article.content | split: '[lang2]' | first}}
        </div>
        <div class="rte lang2">
          {{ article.content | split: '[lang2]' | last}}
        </div>
        {% else %}
        <div class="rte">
          {{ article.content | split: '[lang2]' | first}}
        </div>
        {% endif %}

        {% section 'blog-post-custom' %}
        
        {% section 'article-lookbook' %}

        <div class="content-tags-share">
          {% render 'tags-article' %}
          {% render 'share' %}
        </div>

        {% if blog.next_article or blog.previous_article %}
        <div class="action-btn">
          {% if blog.previous_article %}
          {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
          {% endif %}
          {% if blog.next_article %}
          {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }}
          {% endif %}
        </div>
        {% endif %}

        {% if blog.comments_enabled? %}

        {% comment %}
        Just like our blog.liquid page, define how many comments should be on each page.
        {% endcomment %}

        <h2 class="title-comment">
          {{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}
        </h2>

        {% paginate article.comments by 5 %}

        {% comment %}
        #comments is required, it is used as an anchor link by Shopify.
        {% endcomment %}
        <div id="comments">

          {% if comment and comment.created_at %}
          <p class="note form-success">
            {% if blog.moderated? %}
            <span {% if settings.enable_multilang %}data-translate="blogs.comments.success_moderated"{%endif%}>
              {{ 'blogs.comments.success_moderated' | t }}
            </span>
            {% else %}
            <span {% if settings.enable_multilang %}data-translate="blogs.comments.success"{%endif%}>
              {{ 'blogs.comments.success' | t }}
            </span>
            {% endif %}
          </p>
          {% endif %}

          {% if number_of_comments > 0 %}
          <ul>
            {% comment %}If a comment was just submitted with no blank field, let's show it.{% endcomment %}
            {% if comment and comment.created_at %}
            <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
              {% render 'comment', comment: comment, article: article %}
            </li>
            {% endif %}

            {% comment %}
            Showing the rest of the comments.
            {% endcomment %}
            {% for comment in article.comments %}
            <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
              {% render 'comment', comment: comment, article: article %}
            </li>
            {% endfor %}
          </ul>

          {% if paginate.pages > 1 %}
          <div class="text-center">
            {% render 'pagination', paginate: paginate %}
          </div>
          {% endif %}
          {% endif %}

          {% comment %}
          Comment submission form
          {% endcomment %}

          {% form article %}
          {% comment %}
          #add-comment-title is used simply as an anchor link
          {% endcomment %}
          <h3 id="add-comment-title" {% if settings.enable_multilang %}data-translate="blogs.comments.title"{%endif%}>{{ 'blogs.comments.title' | t }}</h3>
          {% render 'form-errors-custom' %}
          <div class="comment-form row">
            <div class="form-group col-12 col-md-6">
              <label for="comment-author" {% if settings.enable_multilang %}data-translate="blogs.comments.name"{%endif%}>
                {{ 'blogs.comments.name' | t }}
              </label>
              <input {% if form.errors contains "author" %}class="error"{% endif %} type="text" name="comment[author]" id="comment-author" value="{{ form.author }}">
            </div>

            <div class="form-group col-12 col-md-6">
              <label for="comment-email" {% if settings.enable_multilang %}data-translate="blogs.comments.email"{%endif%}>
                {{ 'blogs.comments.email' | t }}
              </label>
              <input {% if form.errors contains "email" %}class="error"{% endif %} type="email" name="comment[email]" id="comment-email" value="{{ form.email }}">
            </div>
          </div>

          <div class="message form-group">
            <label for="comment-body" {% if settings.enable_multilang %}data-translate="blogs.comments.message"{%endif%}>{{ 'blogs.comments.message' | t }}</label>
            <textarea rows="7" {% if form.errors contains "body" %}class="error"{% endif %} name="comment[body]" id="comment-body">{{ form.body }}</textarea>
          </div>

          <p class="note" {% if settings.enable_multilang %}data-translate="blogs.comments.note"{%endif%}>
            {{ 'blogs.comments.note' | t }}
          </p>


          <input type="submit" class="btn-secondary" value="{{ 'blogs.comments.post' | t }}">
          {% if form.errors %}
          <script>
            window.location.hash = '#add-comment-title';
          </script>
          {% endif %}

          {% if form.posted_successfully? %}
          <script>
            window.location.hash = '#comments';
          </script>
          {% endif %}
          {% endform %}
        </div>
        {% endpaginate %}
        {% endif %}
      </div>
    </div>
  </div>
</div>