{% if section.settings.image_gallery_title != blank %}
  <div class="heading-gallery">
    <h4>
      {% render 'multilang' with section.settings.image_gallery_title %}
    </h4>
  </div>
 {% endif %}
<div class="row">
{% if img_1 != blank %}
<div class="item col-6 col-sm-6 col-md-4">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_1 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_1 | img_url: 'original' }}"
           src="{{ img_1 | img_url: 'original' }}" alt="{{ block.settings.image_1.alt }}"
           class="lazyautosizes lazyloaded" data-sizes="auto">
    </a>

    {% if block.settings.lb_product_1_1 != blank %}
    <div class="select-icon lb-icon-1-1-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_1_1 }}" style="top:{{ block.settings.top_position_1_1 }}%; left:{{ block.settings.left_position_1_1 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    {% if block.settings.lb_product_1_2 != blank %}
    <div class="select-icon lb-icon-1-2-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_1_2 }}" style="top:{{ block.settings.top_position_1_2 }}%; left:{{ block.settings.left_position_1_2 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    {% if block.settings.lb_product_1_3 != blank %}
    <div class="select-icon lb-icon-1-3-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_1_3 }}" style="top:{{ block.settings.top_position_1_3 }}%; left:{{ block.settings.left_position_1_3 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    <style type="text/css">
      .gallery_lookbook-box .lb-icon-1-1-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_1_1 }};
        color: {{block.settings.dots_color_1_1}};
      }

      .gallery_lookbook-box .lb-icon-1-1-{{ block.id }} .glyphicon:before {
        color: {{ block.settings.dots_bg_color_1_1}};
      }
      
      .gallery_lookbook-box .lb-icon-1-2-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_1_2 }};
        color: {{block.settings.dots_color_1_2}};
      }

      .gallery_lookbook-box .lb-icon-1-2-{{ block.id }} .glyphicon:before {
       	color: {{ block.settings.dots_bg_color_1_2 }};
      }
      
      .gallery_lookbook-box .lb-icon-1-1-{{ block.id }}:before{
        color: {{ block.settings.dots_shadow_color_1_2 }};
      } 

      .gallery_lookbook-box .lb-icon-1-3-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_1_3 }};
        color: {{block.settings.dots_color_1_3}};
      }

      .gallery_lookbook-box .lb-icon-1-3-{{ block.id }} .glyphicon:before{
        color: {{ block.settings.dots_bg_color_1_3 }};
      }

    </style> 
  </div>
</div>
{% endif %}

{% if img_2 != blank %}
<div class="item col-6 col-sm-6 col-md-4">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_2 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_2 | img_url: 'original' }}"
           src="{{ img_2 | img_url: 'original' }}" alt="{{ block.settings.image_2.alt }}"
           class="lazyautosizes lazyloaded" data-sizes="auto">
    </a>

    {% if block.settings.lb_product_2_1 != blank %}
    <div class="select-icon lb-icon-2-1-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_2_1 }}" style="top:{{ block.settings.top_position_2_1 }}%; left:{{ block.settings.left_position_2_1 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    {% if block.settings.lb_product_2_2 != blank %}
    <div class="select-icon lb-icon-2-2-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_2_2 }}" style="top:{{ block.settings.top_position_2_2 }}%; left:{{ block.settings.left_position_2_2 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    {% if block.settings.lb_product_2_3 != blank %}
    <div class="select-icon lb-icon-2-3-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_2_3 }}" style="top:{{ block.settings.top_position_2_3 }}%; left:{{ block.settings.left_position_2_3 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    <style type="text/css">
      .gallery_lookbook-box .lb-icon-2-1-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_2_1 }};
        color: {{block.settings.dots_color_2_1}};
      }

      .gallery_lookbook-box .lb-icon-2-1-{{ block.id }} .glyphicon:before {
        color: {{ block.settings.dots_bg_color_2_1 }};
      }

      .gallery_lookbook-box .lb-icon-2-2-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_2_2 }};
        color: {{block.settings.dots_color_2_2}};
      }

      .gallery_lookbook-box .lb-icon-2-2-{{ block.id }} .glyphicon:before{
        color: {{ block.settings.dots_bg_color_2_2 }};
      }

      .gallery_lookbook-box .lb-icon-2-3-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_2_3 }};
        color: {{block.settings.dots_color_2_3}};
      }

      .gallery_lookbook-box .lb-icon-2-3-{{ block.id }} .glyphicon:before {
        color: {{ block.settings.dots_bg_color_2_3 }};
      }

    </style> 
  </div>
</div>
{% endif %}

{% if img_3 != blank %}
<div class="item col-6 col-sm-6 col-md-4">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_3 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_3 | img_url: 'original' }}"
           src="{{ img_3 | img_url: 'original' }}" alt="{{ block.settings.image_3.alt }}"
           class="lazyautosizes lazyloaded" data-sizes="auto">
    </a>

    {% if block.settings.lb_product_3_1 != blank %}
    <div class="select-icon lb-icon-3-1-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_3_1 }}" style="top:{{ block.settings.top_position_3_1 }}%; left:{{ block.settings.left_position_3_1 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    {% if block.settings.lb_product_3_2 != blank %}
    <div class="select-icon lb-icon-3-2-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_3_2 }}" style="top:{{ block.settings.top_position_3_2 }}%; left:{{ block.settings.left_position_3_2 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    {% if block.settings.lb_product_3_3 != blank %}
    <div class="select-icon lb-icon-3-3-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_3_3 }}" style="top:{{ block.settings.top_position_3_3 }}%; left:{{ block.settings.left_position_3_3 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    <style type="text/css">
      .gallery_lookbook-box .lb-icon-3-1-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_3_1 }};
        color: {{block.settings.dots_color_3_1}};
      }

      .gallery_lookbook-box .lb-icon-3-1-{{ block.id }} .glyphicon:before {
        color: {{ block.settings.dots_bg_color_3_1 }};
      }

      .gallery_lookbook-box .lb-icon-3-2-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_3_2 }};
         color: {{block.settings.dots_color_3_2}};
      }

      .gallery_lookbook-box .lb-icon-3-2-{{ block.id }} .glyphicon:before {
        color: {{ block.settings.dots_bg_color_3_2 }};
      }

      .gallery_lookbook-box .lb-icon-3-3-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_3_3 }};
         color: {{block.settings.dots_color_3_3}};
      }

      .gallery_lookbook-box .lb-icon-3-3-{{ block.id }} .glyphicon:before {
        color: {{ block.settings.dots_bg_color_3_3 }};
      }

    </style> 
  </div>
</div>
{% endif %}
  
{% if img_4 != blank %}
<div class="item col-6 col-sm-6 col-md-4">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_4 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_4 | img_url: 'original' }}"
           src="{{ img_4 | img_url: 'original' }}" alt="{{ block.settings.image_4.alt }}"
           class="lazyautosizes lazyloaded" data-sizes="auto">
    </a>

    {% if block.settings.lb_product_4_1 != blank %}
    <div class="select-icon lb-icon-4-1-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_4_1 }}" style="top:{{ block.settings.top_position_4_1 }}%; left:{{ block.settings.left_position_4_1 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    {% if block.settings.lb_product_4_2 != blank %}
    <div class="select-icon lb-icon-4-2-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_4_2 }}" style="top:{{ block.settings.top_position_4_2 }}%; left:{{ block.settings.left_position_4_2 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    {% if block.settings.lb_product_4_3 != blank %}
    <div class="select-icon lb-icon-4-3-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_4_3 }}" style="top:{{ block.settings.top_position_4_3 }}%; left:{{ block.settings.left_position_4_3 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    <style type="text/css">
      .gallery_lookbook-box .lb-icon-4-1-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_4_1 }};
        color: {{block.settings.dots_color_4_1}};
      }

      .gallery_lookbook-box .lb-icon-4-1-{{ block.id }} .glyphicon:before {
        color: {{ block.settings.dots_bg_color_4_1 }};
      }

      .gallery_lookbook-box .lb-icon-4-2-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_4_2 }};
         color: {{block.settings.dots_color_4_2}};
      }

      .gallery_lookbook-box .lb-icon-4-2-{{ block.id }} .glyphicon:before {
        color: {{ block.settings.dots_bg_color_4_2 }};
      }

      .gallery_lookbook-box .lb-icon-4-3-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_4_3 }};
         color: {{block.settings.dots_color_4_3}};
      }

      .gallery_lookbook-box .lb-icon-4-3-{{ block.id }} .glyphicon:before {
        color: {{ block.settings.dots_bg_color_4_3 }};
      }

    </style> 
  </div>
</div>
{% endif %}
  
  {% if img_5 != blank %}
<div class="item col-6 col-sm-6 col-md-4">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_5 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_5 | img_url: 'original' }}"
           src="{{ img_5 | img_url: 'original' }}" alt="{{ block.settings.image_5.alt }}"
           class="lazyautosizes lazyloaded" data-sizes="auto">
    </a>

    {% if block.settings.lb_product_5_1 != blank %}
    <div class="select-icon lb-icon-5-1-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_5_1 }}" style="top:{{ block.settings.top_position_5_1 }}%; left:{{ block.settings.left_position_5_1 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    {% if block.settings.lb_product_5_2 != blank %}
    <div class="select-icon lb-icon-5-2-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_5_2 }}" style="top:{{ block.settings.top_position_5_2 }}%; left:{{ block.settings.left_position_5_2 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    {% if block.settings.lb_product_5_3 != blank %}
    <div class="select-icon lb-icon-5-3-{{ block.id }}" data-lookbook-icon data-handle="{{ block.settings.lb_product_5_3 }}" style="top:{{ block.settings.top_position_5_3 }}%; left:{{ block.settings.left_position_5_3 }}%;">
      <span class="glyphicon">+</span>
    </div>
    {% endif %}

    <style type="text/css">
      .gallery_lookbook-box .lb-icon-5-1-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_5_1 }};
        color: {{block.settings.dots_color_5_1}};
      }

      .gallery_lookbook-box .lb-icon-5-1-{{ block.id }} .glyphicon:before {
        color: {{ block.settings.dots_bg_color_5_1 }};
      }

      .gallery_lookbook-box .lb-icon-5-2-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_5_2 }};
         color: {{block.settings.dots_color_5_2}};
      }

      .gallery_lookbook-box .lb-icon-5-2-{{ block.id }} .glyphicon:before {
        color: {{ block.settings.dots_bg_color_5_2 }};
      }

      .gallery_lookbook-box .lb-icon-5-3-{{ block.id }} .glyphicon {
        background-color: {{ block.settings.dots_bg_color_5_3 }};
         color: {{block.settings.dots_color_5_3}};
      }

      .gallery_lookbook-box .lb-icon-5-3-{{ block.id }} .glyphicon:before {
        color: {{ block.settings.dots_bg_color_5_3 }};
      }

    </style> 
  </div>
</div>
{% endif %}
</div>