{% if product.metafields.c_f['Grouped Sub Product'] %}

{%- assign handle_metafields =  product.metafields.c_f['Grouped Sub Product'] | split: ',' -%}

<h3 class="title-group"><span class="group-title-extra">{{ section.settings.title_upsell }}</span></h3>

<div class="group_content">
  {% for handle in handle_metafields limit:10 %} 
    {% assign a = handle | strip %}
    {%- assign pro = all_products[a] -%}
    {% if pro != blank %}
      <div class="group_product">
        <div class="group-right">
          <div class="group-content-product">
            <div class="group-img">
              <a href="{{ pro.url | within: collection }}" title="{{ pro.title }}">
                <img src="{{ pro.featured_image.src  | product_img_url: '120x' }}" alt="">
              </a>
            </div>
            <div class="group-content-bottom">
              <div class="group-vendor">
                <span>{{ pro.vendor | link_to_vendor }}</span>
              </div>
              <div class="group-caption">
                <a class="group-title" title="{{ pro.title }}" href="{{ pro.url | within: collection }}">
                  {% render 'multilang' with pro.title %}
                </a>
              </div>
              <div class="price-box">
                <span class="group-price">{{ pro.price_min | money }}</span>
              </div>
            </div>
          </div>
         
          <div class="group_option"  data-product-id="{{ pro.id }}">
            
            {% if pro.available %}
              {% unless pro.variants.first.title contains 'Default' %}
              <select id="product-variants-{{ pro.id }}" name="group_id">
                {% for variant in pro.variants %}
                <option data-price="{{ variant.price }}" {% unless variant.available %}class="sold-out" disabled{% endunless %} value="{{ variant.id }}" {% if variant.image != null %}data-img="{{ variant.image.src | product_img_url: '200x' }}"{% endif %}>
                  {{ variant.title }}
                </option>
                {% endfor %}
              </select>
              <span class="icon-dropdown">
                <i class="fa fa-angle-down"></i>
              </span>
              {% endunless %}
              
            {% endif %}

            {% if pro.available %}
            <div class="extra group-qty-first">
              <a href="javascript:void(0)" class="group_dec dec_first button"></a>
              <input type="hidden" name="group_id" value="{{ pro.variants[0].id  }}" />  
              <input class="group_number number_first" name="group_quantity" value="0" min="0" data-id="{{ pro.variants[0].id }}">
              <a href="javascript:void(0)" class="group_inc inc_first button"></a>
            </div>
            {% else %}
            <div class="extra group-qty-first out-stock">
              <a href="javascript:void(0)" class="group_dec dec_first button"></a>
              <input type="hidden" name="group_id" value="{{ pro.variants[0].id  }}" />  
              <input class="group_number number_first" name="group_quantity" value="0" min="0" data-id="{{ pro.variants[0].id }}">
              <a href="javascript:void(0)" class="group_inc inc_first button"></a>
            </div>
            {% endif %}
          </div>
          {% else %}
            <input type="hidden" name="group_id"  value="{{ pro.variants[0].id }}" data-price="{{ pro.variants[0].price }}"/>
          {% endif %}
        </div>
      </div>
  {% endfor %}
</div>
{% endif %}

