{% if settings.enable_ask_an_expert %}
<div class="modal fade halo_modal-custom" id="product_custom_engraving" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        {% if settings.custom_engraving_title != blank %}
        <h3 class="modal-title">
          {% render 'multilang' with settings.custom_engraving_title %}
        </h3>
        {% endif %}
        
        <a data-dismiss="modal" class="close close-modal" title="{{ 'cart.ajax_cart.close' | t }}" href="javascript:void(0)">
          {% render 'icon-close' %}
        </a>
      </div>
      
      <div class="modal-body">
        <div class="left-content{% if settings.custom_engraving_right_title != blank or settings.custom_engraving_img != blank %} has-right-content{% endif %}">
          <div class="form-group">
            {% if settings.enable_multilang and settings.custom_engraving_place_holder_1 contains '|' %}
              <div class="lang1 form-input">
                <input type="text" id="customLine1" name="custom[line1]" autocapitalize="words" placeholder="{{ settings.custom_engraving_place_holder_1 | split: '|' | first}}">
              </div>
              <div class="lang2 form-input">
                <input type="text" id="customLine1" name="custom[line1]" autocapitalize="words" placeholder="{{ settings.custom_engraving_place_holder_1 | split: '|' | last}}">
              </div>
            {% else %}
              <div class="form-input">
                <input type="text" id="customLine1" name="custom[line1]" autocapitalize="words" placeholder="{{ settings.custom_engraving_place_holder_1 | split: '|' | first}}">
              </div>
            {% endif %}

            <div class="note">
              <span {% if settings.enable_multilang %}data-translate="products.product.custom_engraving_note"{% endif %}>{{ 'products.product.custom_engraving_note' | t }}
              </span>
              <span {% if settings.enable_multilang %}data-translate="products.product.custom_engraving_note_number"{% endif %}>{{ 'products.product.custom_engraving_note_number' | t }}
              </span>
          </div>
        </div>
        <div class="form-group">
            {% if settings.enable_multilang and settings.custom_engraving_place_holder_2 contains '|' %}
              <div class="lang1 form-input">
                <input type="text" id="customLine2" name="custom[line2]" autocapitalize="words" placeholder="{{ settings.custom_engraving_place_holder_2 | split: '|' | first}}">
              </div>
              <div class="lang2 form-input">
                <input type="text" id="customLine2" name="custom[line2]" autocapitalize="words" placeholder="{{ settings.custom_engraving_place_holder_2 | split: '|' | last}}">
              </div>
            {% else %}
              <div class="form-input">
                <input type="text" id="customLine2" name="custom[line2]" autocapitalize="words" placeholder="{{ settings.custom_engraving_place_holder_2 | split: '|' | first}}">
              </div>
            {% endif %}
            <div class="note">
              <span {% if settings.enable_multilang %}data-translate="products.product.custom_engraving_note"{% endif %}>{{ 'products.product.custom_engraving_note' | t }}
              </span>
              <span {% if settings.enable_multilang %}data-translate="products.product.custom_engraving_note_number"{% endif %}>{{ 'products.product.custom_engraving_note_number' | t }}
              </span>
            </div>         
        </div>

        
        {% if settings.custom_engraving_note != blank %}
          <div class="notes">
            {% render 'multilang' with settings.custom_engraving_note %}
          </div>
        {% endif %}

        <div class="total-price">
          <!-- <label>{% render 'multilang' with settings.custom_engraving_price_text %}</label> -->
          <span>{% render 'multilang' with settings.custom_engraving_price %}</span>
        </div>        
      </div>
      
        {% if settings.custom_engraving_right_title != blank or settings.custom_engraving_img != blank %}
        <div class="right-content">
            {% if settings.custom_engraving_right_title != blank %}
              <h5 class="modal-title">
                {% render 'multilang' with settings.custom_engraving_right_title %}
              </h5>
            {% endif %}
            <div class="img-wrapper">
              {% if settings.custom_engraving_img != blank %}
                {%- assign img_url = settings.custom_engraving_img | img_url: '370x' -%}
                <img src="https:{{ img_url}}" alt=""
                   class="lazyload"
                   data-src="https:{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ img_url.aspect_ratio }}"
                   data-sizes="auto">
              {% endif %}
            </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}