{% if section.settings.display_product_detail_description %}
    <div class="custom-product-description">
        <div class="container">            
            <div class="product-description-content row">
                <div class="product-img col-md-6">
                    {%- assign img_pr = product.featured_image.src | product_img_url: '800x800' -%}

                    <img src="{{ product.featured_image.src | product_img_url: '300x' }}" alt="{{ product.featured_image.alt | escape }}"             
                       data-src="https:{{ img_pr }}"
                       class="lazyload"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                       data-sizes="auto">
                </div>
                <div class="product-tab col-md-6">
                    {% if section.settings.display_product_tab_desc == false and section.settings.display_product_custom_tab == true %}
                        {% assign tab2_active = true %}
                    {% endif %}

                    {% if section.settings.product_description_title %}
                        <div class="widget-title">   
                            <h3 class="box-title">
                              <span class="title"> 
                                {% render 'multilang' with section.settings.product_description_title%}
                              </span>
                            </h3>    
                        </div>
                    {% endif %}

                    {% if section.settings.display_product_tab_desc or section.settings.display_product_custom_tab %}
                        <ul class="list-tabs">
                            {% if section.settings.display_product_tab_desc and section.settings.product_tab_desc_title != blank %}
                                <li class="tab-title">
                                    <a href="#" data-tapTop data-target="#collapse-tab11" class="tab-links active">
                                        {% render 'multilang' with section.settings.product_tab_desc_title %}
                                    </a>
                                </li>
                            {% endif %}

                            {% if section.settings.display_product_custom_tab and section.settings.product_custom_tab_title != blank %}
                                <li class="tab-title">
                                    <a href="#" data-tapTop data-target="#collapse-tab22" class="tab-links{% if tab2_active %} active{% endif %}">
                                        {% render 'multilang' with section.settings.product_custom_tab_title %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                   
                        {% if section.settings.display_product_tab_desc %}
                            {% assign des = product.description %}

                            {% if des contains '[countdown]' or product.description contains '[custom tab1]' or product.description contains '[custom tab2]' %}            
                                {% assign des = product.description | split:'[/countdown]</p>' | last %}
                                {% assign des = des | split:'[custom tab1]' | first %}
                                {% assign des = des | split:'[custom tab2]' | first %}
                            {% endif %}

                            <div class="tab-content active" data-TabContent id="collapse-tab11">
                                {% if settings.enable_multilang and des contains '[lang2]' %}
                                    <div class="lang1">
                                        {{ des | split: '[lang2]' | first }}
                                    </div>
                                    <div class="lang2">
                                        {{ des | split: '[lang2]' | last }}
                                    </div>
                                    {% else %}
                                    <div>
                                        {{ des | split: '[lang2]' | first }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}

                    {% if section.settings.display_all_custom_tab1 %}
                        <div class="tab-content{% if tab2_active %} active{% endif %}" data-TabContent id="collapse-tab22">
                            {% assign des = section.settings.custom_tab_2_all_content %}

                            {% if settings.enable_multilang and des contains '[lang2]' %}
                                <div class="lang1">
                                    {{ des | split: '[lang2]' | first }}
                                </div>
                                <div class="lang2">
                                    {{ des | split: '[lang2]' | last }}
                                </div>
                            {% else %}
                                <div>
                                    {{ des | split: '[lang2]' | first }}
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        {% if section.settings.display_product_custom_tab %}
                            <div class="tab-content{% if tab2_active %} active{% endif %}" data-TabContent id="collapse-tab22">
                                {% if product.description contains '[custom tab2]' %}
                                    {% assign des = product.description | split:'[custom tab2]' | last | split: '[/custom tab2]' | first %}

                                    {% if settings.enable_multilang and des contains '[lang2]' %}
                                        <div class="lang1">
                                            {{ des | split: '[lang2]' | first }}
                                        </div>
                                        <div class="lang2">
                                            {{ des | split: '[lang2]' | last }}
                                        </div>
                                    {% else %}
                                        <div>
                                            {{ des | split: '[lang2]' | first }}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endif %}