<a href="javascript:void(0)" title="Cart" class="cart-icon" data-cart-toggle data-dropdown-menu>
    <span class="cart-text text-right-hl"{% if settings.enable_multilang %} data-translate="cart.general.shopping_cart"{% endif %}>
        {{ 'cart.general.shopping_cart' | t }}
    </span>
    {% render 'icon-cart' %}
    <span class="cartCount" data-cart-count>
        {{ cart.item_count }}
    </span>
</a>

<div id="dropdown-cart" class="dropdown-border extra-options-open"> 
  <div class="cart-title">
    <a href="javascript:void(0)" title="{{ 'cart.general.close_cart' | t }}" class="close-cart close">
      {% render 'icon-close' %}
      <span {% if settings.enable_multilang %}data-translate="cart.general.close_cart"{% endif %}>
        {{ 'cart.general.close_cart' | t }}
      </span>
    </a>
    
    <h5 {% if settings.enable_multilang %}data-translate="cart.general.dropdown_cart_title"{% endif %}>
      {{ 'cart.general.dropdown_cart_title' | t }}
    </h5>
  </div>
  
  <div class="no-items">
    <p class="cart_empty" {% if settings.enable_multilang %}data-translate="cart.general.empty"{% endif %} >
      {{ 'cart.general.empty' | t }}
    </p>
    <div class="text-continue">
      <a class="btn btn-continue" href="/collections/all" {% if settings.enable_multilang %}data-translate="cart.ajax_cart.continue_shopping"{% endif %}>
        {{ 'cart.ajax_cart.continue_shopping' | t }}
      </a>
    </div>
  </div>

  <div class="has-items">
    <div class="dropdownCartCount">
        <span class="cartCountWrap">
          <span data-cart-count>{{ cart.item_count }}</span> {% if cart.item_count > 1 %}
          <span {% if settings.enable_multilang %}data-translate="layout.cart.items_count.other"{% endif %}>{{ 'layout.cart.items_count.other' | t }}</span>{% else %}<span {% if settings.enable_multilang %}data-translate="layout.cart.items_count.one"{% endif %}>{{ 'layout.cart.items_count.one' | t }}</span>{% endif %}
      </span>
    </div>

      {% if settings.enable_free_shipping_message %}      
        <div class="free_shipping_progress"></div>
        <div class="free_shipping_massage1"></div>
      {% endif %}

    <ol class="mini-products-list">  
      {% for item in cart.items %}
      <li class="item" id="cart-item-{{item.id}}">
        <a href="{{item.url}}" class="product-image">
          <img src="{{ item.image | product_img_url: '160x' }}" alt="{{item.title}}">
        </a>

        <div class="product-details">
          <a href="javascript:void(0)" title="{{ 'cart.general.remove' | t }}" class="btn-remove">
            {% render 'icon-close' %}
          </a>

          <div class="product-name-wrap">
            <a class="product-name" href="{{item.url}}">
              {% render 'multilang' with item.product.title %}
            </a>
            
            <div class="option">
              {% if item.product.variants.size != 0 %}
              {% unless item.variant.title contains 'Default' %}
              <small> - {{ item.variant.title }}</small>
              {% endunless %}
              {% endif %}
            </div>
          </div>

          <div class="cart-collateral">

            <div class="qty-group">
                <a href="#" class="minus button" data-minus></a>
                <input class="qtyak" type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}">
                <a href="#" class="plus button" data-plus></a>
            </div>

            <span class="price">
              {{item.price | money}}
            </span>
          </div>
        </div>
      </li>
      {% endfor %}
    </ol>

    <div class="summary">                
      <div class="total">
        <span class="label">
          <span {% if settings.enable_multilang %}data-translate="cart.general.subtotal"{% endif %}>
            {{ 'cart.general.subtotal' | t }}:
          </span>
        </span>
        <span class="price">
          {{cart.total_price | money}}
        </span> 
      </div>

      {% if settings.enable_free_shipping_message %}
      <div class="free_shipping">
        <span class="label">
          <span {% if settings.enable_multilang %}data-translate="cart.general.shipping"{% endif %}>
            {{ 'cart.general.shipping' | t }}:
          </span>
        </span>
        <span class="text"></span>
      </div>
    {% endif %}

    </div>
    
    {% if settings.enable_checkbox %}
    <div class="checkbox-group">
      <input class="conditions" type="checkbox" name="conditions">
      <label>{% render 'multilang' with settings.checkbox_text %}</label>
    </div>
    <div class="actions">
      <button class="btn btn-checkout show" onclick="window.location='{{ routes.cart_url | split: '/cart' | first }}/checkout'" {% if settings.enable_multilang %}data-translate="cart.general.checkout"{% endif %}>
        {{ 'cart.general.checkout' | t }}
      </button>
      <a class="btn btn-view-cart" href="{{ routes.cart_url }}" {% if settings.enable_multilang %}data-translate="cart.general.view_cart"{% endif %}>
        {{ 'cart.general.view_cart' | t }}
      </a>      
    </div>
    {% else %}
    <div class="actions">
      <button class="btn btn-checkout" onclick="window.location='{{ routes.cart_url | split: '/cart' | first }}/checkout'" {% if settings.enable_multilang %}data-translate="cart.general.checkout"{% endif %}>
        {{ 'cart.general.checkout' | t }}
      </button>
      <a class="btn btn-view-cart" href="{{ routes.cart_url }}" {% if settings.enable_multilang %}data-translate="cart.general.view_cart"{% endif %}>
        {{ 'cart.general.view_cart' | t }}
      </a>      
    </div>
    {% endif %}
  </div>

  {% if settings.enable_extra_options %}
  <div class="extra-options ">
    {% if settings.extra_options_title != blank and settings.extra_options_collection != blank %}
      <h2 class="box-title">
        {% render 'multilang' with settings.extra_options_title %}
      </h2>
    {% endif %}

      <div class="products-grid row">
          {% for product in collections[settings.extra_options_collection].products limit:settings.extra_options_products_limit %}
          <div class="grid-item">
              {% render 'cart-product-grid' with product as product %}
          </div>
          {% endfor %}
      </div>      
  </div>
  {% endif %}
</div>
