<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <meta name="Description" content="Gymuso Shopify theme developed by HaloTheme">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
        {%- if request.page_type == 'search' and search.performed == true -%}
            {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
        {%- else -%}
            {{ page_title }}
        {%- endif -%}
        {%- if current_tags -%}
            {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
        {%- endif -%}
        {%- if current_page != 1 -%}
            &ndash; {{ 'general.meta.page' | t: page: current_page }}
        {%- endif -%}
        {%- assign escaped_page_title = page_title | escape -%}
        {%- unless escaped_page_title contains shop.name -%}
            &ndash; {{ shop.name }}
        {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
        <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% render 'social-meta-tags' %}

    {% render 'head-script' %}

    {{ content_for_header }}
</head>

<body class="template-{{ request.page_type | handle }} {{ settings.body_layout }}{% if settings.header_layout == 'header_2' %} header_2_style{% endif %}">
    <svg data-src="{{ 'icon-gymuso.svg' | asset_url }}" class="icons-svg-sprite"></svg>
    {% if settings.header_layout == 'header_1' %}
        {% section 'header' %}
    {% else %}
        {% section 'header-2' %}
    {% endif %}

    <div class="page-container {% if settings.header_layout == 'header_2' %}overflow{% endif %}" id="PageContainer">
        <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
            {{ content_for_layout }}
            <div class="clearfix"></div>
        </main>
    </div>

    {% if settings.footer_layout == 'footer_1' %}
        {% section 'footer' %}
    {% else %}
        {% section 'footer_2' %}
    {% endif %}
    
    {% render 'modal-popup' %}

    {% assign pagename = request.page_type | handle %}

    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
    {% if pagename == 'product' %}
        <script src="{{ 'resizeSensor.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'sticky-sidebar.min.js' | asset_url }}" defer="defer"></script>
    {% endif %}
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    {% render 'recently-viewed-product-popup'%}

    {% if settings.enable_language %}
        {% render 'language-converter' %}
    {% endif %}

    {% render 'new-currency' %}

</body>
</html>
