<header class="collection-header collection-header-sections">
    {% if section.settings.display_collection_image %}
    
    {% if collection.description contains 'img' %}
      {%- assign img_url = collection.description | split: '<img' | last | split: '>' | first -%}

    {% elsif section.settings.collection_image != blank %}
      {%- assign img_url = section.settings.collection_image | img_url: 'master' -%}

    {% elsif collection.image %}
      {%- assign img_url = collection.image | img_url: 'master' -%}
    {% endif %}
    
    <div class="collection-image">
      {% if collection.description contains 'img' or section.settings.collection_image != blank or collection.image %}
        
        {% if collection.description contains 'img' %}
          <img {{ img_url }} alt="{{ collection_title }}" class="lazyautosizes lazyloaded" data-sizes="auto"/>
        {% else %}
          <img data-src="{{ img_url }}" src="{{ img_url }}" class="lazyautosizes lazyloaded" data-sizes="auto">
        {% endif %}
        
      {% else %}
        <div class="not_img">1770 x 320px</div>
      {% endif %}
    </div>
    {% endif %}
  
  <div class="collection-wrapper page-header">
    <h1>
      {% render 'multilang' with collection.title %}
    </h1>

    {% if collection.description != '' and section.settings.display_collection_des %}
    <div class="collection-des">
      {% if settings.enable_multilang and collection.description contains '[lang2]' %}      
      <div class="rte lang1">
        {{ collection.description | split: '[lang2]' | first | strip_html }}
      </div>
      <div class="rte lang2">
        {{ collection.description | split: '[lang2]' | last | strip_html }}
      </div>
      {% else %}
      <div class="rte">
        {{ collection.description | split: '[lang2]' | first | strip_html }}
      </div>
      {% endif %}
    </div>      
    {% endif %}
  </div>
</header>

<style>
  .collection-header-sections .collection-image img {
    max-height: {{ section.settings.collection_image_height }};
  }
</style>

{% schema %}
  {
    "name": "Collection Header",
    "settings": [
      {
        "type": "checkbox",
        "id": "display_collection_image",
        "label": "Show collection image?",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "collection_image",
        "label": "Image Category",
        "info": "This image will show up when you don't add image in Collections Description"
      },
      {
        "type" : "text",
        "id" : "collection_image_height",
        "label" : "Image height",
        "default" : "320px"
      },
      {
        "type": "checkbox",
        "id": "display_collection_des",
        "label": "Display Collections Description?",
        "default": true
      }
    ]
  }
{% endschema %}