<footer class="footer footer-2">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        
        {% if section.blocks.size > 0 %}
          <div class="col-12 {% if section.settings.show_footer_address %} col-lg-9 col-md-12{% elsif section.settings.show_footer_address %} col-lg-9 {% else %}col-lg-12 col-xs-12{% endif %}">
              <div class="row">
                  {% case section.blocks.size %}
                  {% when 1 %}
                  {%- assign column_size = 'col-12' -%}
                  {% when 2 %}
                  {%- assign column_size = 'col-12 col-md-6' -%}
                  {% when 3 %}
                  {%- assign column_size = 'col-12 col-md-4' -%}
                  {% endcase %}

                  {% for block in section.blocks %}
                  <div class="col-footer {{ column_size }}">
                  {% if block.settings.footer_title != blank %}
                  <h3 class="foot-title dropdow-mb">
                      {% render 'multilang' with block.settings.footer_title %}
                  </h3>
                  {% endif %}
                  
                  {%- assign footer_linklist = block.settings.footer_linklist -%}
                  
                  {% if linklists[footer_linklist].links.size > 0 %}
                  <ul>
                      {% for link in linklists[footer_linklist].links %}
                      <li>
                      <a href="{{ link.url}}" title="{{ link.title }}" class="foot-link">
                          {% render 'multilang' with link.title %}
                      </a>
                      </li>
                      {% endfor %}
                  </ul>
                  {% endif %}
                  </div>
                  {% endfor %}
              </div>
          </div>
        {% endif %}
        
        <div class="col-12 col-footer {% if section.blocks.size == 0 %} col-md-6 col-lg-6{% else %} col-md-3 col-lg-3{% endif %} column-footer no-dropdown col-right">     
          {% if section.settings.title_right  != blank or section.settings.ft_adr_1  != blank or section.settings.ft_phone != blank or section.settings.ft_mail != blank or section.settings.ft_work_hour_1 != blank or section.settings.ft_work_hour_2 != blank %}
                <h3 class="foot-title no-mb">{% render 'multilang' with section.settings.title_right %}</h3>
                <div class="footer address">
                  {% if section.settings.ft_adr_1  != blank %}
                    <p>
                      {% render 'multilang' with section.settings.ft_adr_1 %}
                    </p>
                  {% endif %}

                  {% if section.settings.ft_phone != blank %}
                    <p>
                      {% render 'multilang' with section.settings.ft_phone %}
                    </p>
                  {% endif %}

                  {% if section.settings.ft_mail != blank %}
                    <p>
                      {% render 'multilang' with section.settings.ft_mail %}
                    </p>
                  {% endif %}

                  {% if section.settings.ft_work_hour_1 != blank %}
                    <p>
                      {% render 'multilang' with section.settings.ft_work_hour_1 %}
                    </p>
                  {% endif %}
                  {% if section.settings.ft_work_hour_2 != blank %}
                    <p>
                      {% render 'multilang' with section.settings.ft_work_hour_2 %}
                    </p>
                  {% endif %}
                </div>
                <div class="lang-currency-groups">
                    {% if settings.enable_multilang_shopify %}
                      {% render 'new-language-picker' %}
                    {% endif %}
                    {% render 'new-currency-picker' %}
                </div>
            {% endif %}
        </div>        
      </div>
    </div>
  </div>
  
  {% if section.settings.display_ft_bt %}
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
    
        {% if section.settings.show_payment_icons %}
            {% assign payment_string = 'visa,visa_electron,master,maestro,american_express,solo,amazon_payments,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,paypal,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,stripe,sage,wallet,western_union' %}
            {% assign methods = payment_string | split: ',' %}
            <ul class="payment-methods {% if section.settings.footer_logo_check != true %} col-lg-6 col-xl-6 {% else %} col-lg-4 col-xl-4 {% endif %}">  
                {% for method in methods %}
                {%- assign display_current_method = method | prepend: 'payment_display_' -%}
                {% if section.settings[display_current_method] %}
                {%- assign current_method_icon = method | prepend: 'icon_' -%}
                <li>
                <img src="{{ section.settings[current_method_icon] | img_url: 'x32' }}" alt="{{ method }}">
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        {% if section.settings.footer_logo_check %}
          <div class="footer_logo_bottom column-center col-12 col-md-12 col-lg-4 col-xl-4">
            {% if section.settings.footer_logo  != blank %}
              <h3 class="footer-logo">
                <a href="/" class="logo-ft">
                  <img src="{{ section.settings.footer_logo | img_url:'master' }}">            
                </a>
              </h3>
            {% endif %}
          </div>
        {% endif %}
        <div class="footer_copyright column-left col-12 col-md-12 {% if section.settings.footer_logo_check != true %} col-lg-6 col-xl-6 {% else %} col-lg-4 col-xl-4 {% endif %}">
          {% render'multilang' with section.settings.ft_address %}
        </div>

      </div>
    </div>
  </div>
  {% endif %}
</footer>


{% schema %}
  {
    "name": "Footer 01",
    "max_blocks": 3,
    "settings": [
    {
      "type" : "color",
      "id" : "bg_ft",
      "label" : "Background Footer",
      "default" : "#fff"
    },
    {
      "type" : "color",
      "id" : "color_ft_text",
      "label" : "Color Text",
      "default" : "#5f5f5f"
    },
    {
      "type" : "color",
      "id" : "color_ft_header",
      "label" : "Color Header",
      "default" : "#232323"
    },
    {
      "type" : "color",
      "id" : "ft_border",
      "label" : "Footer Border",
      "default" : "#e8e8e8"
    },
    {
      "type" : "header",
      "content" : "Footer Right Column"
    },
    {
      "type": "checkbox",
      "id": "show_footer_address",
      "label": "Show Footer Right Column?",
      "default": true
    },
      {
        "type" : "text",
        "id" : "title_right",
        "label" : "Footer Title Right",
        "default" : "Store Info."
      },
      {
        "type" : "textarea",
        "id" : "ft_adr_1",
        "label" : "Address",
        "default" : "685 Market Street, San Francisco, CA 94105, United States"
      },
      {
        "type" : "text",
        "id" : "ft_phone",
        "label" : "Phone",
        "default" : "+0123 456 7890"
      },
      {
        "type" : "text",
        "id" : "ft_mail",
        "label" : "Mail",
        "default" : "support@halothemes.com"
      },
      {
        "type" : "text",
        "id" : "ft_work_hour_1",
        "label" : "Opening Hours 1",
        "default" : "M-T 8:30-2:00 pm"
      },
      {
        "type" : "text",
        "id" : "ft_work_hour_2",
        "label" : "Opening Hours 2",
        "default" : "F-S 9:00-1:00 pm GMT+7"
      },


      {
        "type" : "header",
        "content" : "Footer Bottom"
      },
      {
        "type" : "checkbox",
        "id" : "display_ft_bt",
        "label" : "Display Footer Bottom",
        "default" : true
      },
      {
        "type" : "checkbox",
        "id" : "footer_logo_check",
        "label" : "Display Footer Logo",
        "default" : true
      },
      {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Logo Footer"
      },
      {
        "type": "text",
        "id": "min_height_logo_ft",
        "label": "Min Height of Logo",
        "default": "25px" 
      },
      {
        "type" : "color",
        "id" : "bg_ft_bt",
        "label" : "Background Footer Bottom",
        "default" : "#fff"
      },
      {
        "type" : "color",
        "id" : "color_ft_bt",
        "label" : "Color",
        "default" : "#5f5f5f"
      },
      {
        "type" : "richtext",
        "id" : "ft_address",
        "label" : "Footer Address"
      },
      {
        "type": "header",
        "content": "Footer Payment"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "header",
        "content": "Display payment icons for"
      },
      {
        "type": "checkbox",
        "id": "payment_display_visa",
        "label": "Visa"
      },
      {
        "type": "image_picker",
        "id": "icon_visa",
        "label": "Visa image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_visa_electron",
        "label": "Visa Electron"
      },
      {
        "type": "image_picker",
        "id": "icon_visa_electron",
        "label": "Visa Electron image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_american_express",
        "label": "American Express"
      },
       {
        "type": "image_picker",
        "id": "icon_american_express",
        "label": "American Express image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_master",
        "label": "Master"
      },
      {
        "type": "image_picker",
        "id": "icon_master",
        "label": "Master image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_maestro",
        "label": "Maestro"
      },
      {
        "type": "image_picker",
        "id": "icon_maestro",
        "label": "Maestro image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_solo",
        "label": "Solo"
      },
      {
        "type": "image_picker",
        "id": "icon_solo",
        "label": "Solo image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_paypal",
        "label": "Paypal"
      },
      {
        "type": "image_picker",
        "id": "icon_paypal",
        "label": "Paypal image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_amazon_payments",
        "label": "Amazon Payments"
      },
      {
        "type": "image_picker",
        "id": "icon_amazon_payments",
        "label": "Amazon Payments image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_apple_pay",
        "label": "Apple Pay"
      },
      {
        "type": "image_picker",
        "id": "icon_apple_pay",
        "label": "Apple Pay image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_bitcoin",
        "label": "Bitcoin"
      },
      {
        "type": "image_picker",
        "id": "icon_bitcoin",
        "label": "Bitcoin image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_cirrus",
        "label": "Cirrus"
      },
      {
        "type": "image_picker",
        "id": "icon_cirrus",
        "label": "Cirrus image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_dankort",
        "label": "Dankort"
      },
      {
        "type": "image_picker",
        "id": "icon_dankort",
        "label": "Dankort image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_diners_club",
        "label": "Diners Club"
      },
      {
        "type": "image_picker",
        "id": "icon_diners_club",
        "label": "Diners Club image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_discover",
        "label": "Discover"
      },
      {
        "type": "image_picker",
        "id": "icon_discover",
        "label": "Discover image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_dogecoin",
        "label": "Dogecoin"
      },
      {
        "type": "image_picker",
        "id": "icon_dogecoin",
        "label": "Dogecoin image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_dwolla",
        "label": "Dwolla"
      },
      {
        "type": "image_picker",
        "id": "icon_dwolla",
        "label": "Dwolla image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_forbrugsforeningen",
        "label": "Forbrugsforeningen"
      },
      {
        "type": "image_picker",
        "id": "icon_forbrugsforeningen",
        "label": "Forbrugsforeningen image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_interac",
        "label": "Interac"
      },
      {
        "type": "image_picker",
        "id": "icon_interac",
        "label": "Interac image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_jcb",
        "label": "JCB"
      },
      {
        "type": "image_picker",
        "id": "icon_jcb",
        "label": "JCB image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_litecoin",
        "label": "Litecoin"
      },
      {
        "type": "image_picker",
        "id": "icon_litecoin",
        "label": "Litecoin image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_stripe",
        "label": "Stripe"
      },
      {
        "type": "image_picker",
        "id": "icon_stripe",
        "label": "Stripe image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_sage",
        "label": "Sage"
      },
      {
        "type": "image_picker",
        "id": "icon_sage",
        "label": "Sage image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_wallet",
        "label": "Google Wallet"
      },
      {
        "type": "image_picker",
        "id": "icon_wallet",
        "label": "Google Wallet image"
      },
      {
        "type": "checkbox",
        "id": "payment_display_western_union",
        "label": "Western Union"
      },
      {
        "type": "image_picker",
        "id": "icon_western_union",
        "label": "Western Union image"
      }
  ],
  "blocks": [   
  {
    "type": "footer_link",
    "name": "Footer Link",
    "settings": [
    {
      "type": "text",
      "id": "footer_title",
      "label": "Footer Title"
    },
    {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Footer Link",
        "default": "footer"
      }     
    ]
  }
]
}
{% endschema %}

<style>
  .footer-top .logo-ft img{
    max-height:{{section.settings.min_height_logo_ft}}
  }

  .footer-top .social-icons li a {
    color: {{section.settings.footer_social_color}}
  }
  
  .footer .footer-top .column-footer .newsletter .btn{
    background-color: {{section.settings.ft_submit }};
    border: 1px solid {{section.settings.ft_submit_br }};
    color:{{section.settings.ft_submit_text}};
  }
  .footer .footer-top .column-footer .newsletter .btn:hover {
    background-color: {{section.settings.ft_submit_hover }};
    border: 1px solid {{section.settings.ft_submit_br_hover }};
    color:{{section.settings.ft_submit_text_hover}};
  }
  .footer .footer-top .column-footer .newsletter .input-group-field{
    background: {{section.settings.ft_input }};
    border:1px solid {{section.settings.ft_input_br }};
    color:{{section.settings.ft_input_text}};
  }
  
  .footer .footer-top .column-footer .newsletter .input-group-field::-webkit-input-placeholder{
    color:{{section.settings.ft_input_text}};

  }
  .footer .footer-top .column-footer .newsletter .input-group-field::-moz-placeholder{
    color:{{section.settings.ft_input_text}};
  }
  .footer .footer-top .column-footer .newsletter .input-group-field::-ms-input-placeholder{
  color:{{section.settings.ft_input_text}};
  }
  .footer .footer-top .column-footer .newsletter .input-group-field::-moz-placeholder{
  color:{{section.settings.ft_input_text}};
  }
  .footer{
    background:{{section.settings.bg_ft }};
    color: {{section.settings.color_ft_text}};
  }

  .footer .footer-top .col-footer ul li a {
    color: {{section.settings.color_ft_bt}};
  }
  .footer .footer-top .col-footer ul li:hover a span {
    background-image: linear-gradient(transparent 97%, {{section.settings.color_ft_bt}} 3%);
    background-repeat: repeat-x;
    background-position-y: 0px;
  }

  .footer-bottom{
    background:{{ section.settings.bg_ft_bt }};
    color: {{ section.settings.color_ft_bt }};
    border-top: 1px solid {{ section.settings.ft_border }};
  }
  .footer-bottom a{
    color: {{section.settings.color_ft_bt}};
  }
  .footer h3{
    color: {{section.settings.color_ft_header}}
  }

  @media (max-width: 767px) {
    .footer .footer-top .col-footer .foot-title {
      border-bottom: 1px solid {{ section.settings.ft_border }};
    }
  }

</style>
