<style>
  /*  Header Top  */
  {% assign bg_header_top =  section.settings.bg_header_top %}
  {% assign text_header_top_color = section.settings.text_header_top_color %}
  
  /*  Search  */
  {% assign bg_search_color = section.settings.bg_search_color %}
  {% assign search_color = section.settings.search_color %}
  {% assign search_border_color = section.settings.search_border_color %}
  
  /*  Header Bottom  */
  {% assign max_height_logo_mb =  section.settings.max_height_logo_mb %}
  {% assign max_height_logo_pc =  section.settings.max_height_logo_pc %}
  
  {% assign bg_header_bottom_color = section.settings.bg_header_bottom_color %}
  {% assign header_bottom_link_color = section.settings.header_bottom_link_color %}
  {% assign header_bottom_text_color = section.settings.header_bottom_text_color %}
  
  /*  Cart  */
  {% assign bg_cart_color = section.settings.bg_cart_color %}
  {% assign cart_color = section.settings.cart_color %}

  {% comment %} /*  Label - Navigation  */ {% endcomment %}
  {% assign bg_lb_sale = section.settings.bg_lb_sale %}
  {% assign color_lb_sale = section.settings.color_lb_sale %}
  {% assign bg_lb_new = section.settings.bg_lb_new %}
  {% assign color_lb_new = section.settings.color_lb_new %}
  {% assign bg_lb_hot = section.settings.bg_lb_hot %}
  {% assign color_lb_hot = section.settings.color_lb_hot %}
  
  
  .header-top {
    background-color: {{ bg_header_top }};
    color: {{ text_header_top_color }};
  }
  .header-top a {
    color: {{ text_header_top_color }};
  }
  .header-top .top-message p a:hover {
    border-bottom-color: {{ text_header_top_color }};
  }
  .header-top .close:hover {
    color: {{ text_header_top_color }};
  }
  .cart-icon .cartCount {
    background-color: {{ bg_cart_color }};
    color: {{ cart_color }};
  }
  .logo-img {
    display: block;
  }
  .logo-title{
    color: {{section.settings.logo_text_color}};
    font-size: {{section.settings.font_size_logo}};
  }
  .site-header .header-bottom {
    background-color: {{ bg_header_bottom_color }};
    color: {{ header_bottom_text_color }};
    -webkit-box-shadow: 0 3px 3px -3px rgba(0,0,0,0.12);
    -moz-box-shadow: 0 3px 3px -3px rgba(0,0,0,0.12);
    box-shadow: 0 3px 3px -3px rgba(0,0,0,0.12);
  }
  
  .header-mb .logo-img img,
  .logo-fixed .logo-img img {
    max-height: {{ max_height_logo_mb }};
  }
  .header-pc .logo-img img {
    max-height: {{ max_height_logo_pc }};
  }
  .site-header .header-mb .svg-mb a {
     color: {{ header_bottom_text_color }};
  }

  .site-nav .icon_sale {
    background-color: {{ bg_lb_sale }};
    color: {{ color_lb_sale }};
  }
    
  .site-nav .icon_new {
      background-color: {{ bg_lb_new }};
      color: {{ color_lb_new }};
  }
      
  .site-nav .icon_hot {
      background-color: {{ bg_lb_hot }};
      color: {{ color_lb_hot }};
  }

  @media (max-width: 767px) {    
    .search-open .wrapper-header .header-search__form {
       	background-color: {{ bg_search_color }}; 
    }
  }
  
  @media (min-width: 1200px) {
    .header-bottom .header-pc .header-panel .right-groups .right-nav .right-nav-links a,.header-bottom .header-pc .header-panel .right-groups .right-nav .lang-currency-groups .dropdown-label .text,.header-bottom .header-pc .header-panel .right-groups .right-nav .lang-currency-groups .dropdown-toggle:after{
      color: {{section.settings.text_color_menu_right}};
    }
    .header-bottom .header-pc .header-panel .right-groups .right-nav .right-nav-links a:hover,.header-bottom .header-pc .header-panel .right-groups .right-nav .lang-currency-groups .dropdown-label .text:hover,.header-bottom .header-pc .header-panel .right-groups .right-nav .lang-currency-groups .dropdown-toggle:hover:after{
      color: {{section.settings.text_color_menu_right_hover}};
    }
    .site-header .header-bottom .nav-search {
      border-left: 1px dotted #000;
    }
    .site-header .header-panel .right-groups > div > a {
      color: {{ header_bottom_text_color }};
    }
    .site-header .header-panel .text-hover:before {
      background-color: {{ header_bottom_text_color }};
    }
    .site-header .header-panel .right-groups svg {
      color: {{ header_bottom_text_color }};
    }    
    .site-header .header-panel .right-groups a:hover, 
    .site-header .header-panel .right-groups a:hover svg {
      color: {{ header_bottom_link_color }};
    }

    .site-header .header-panel .right-groups .wrapper-top-cart > a.menu-open .cart-text:before {
      background: {{ header_bottom_text_color | color_modify: 'alpha', 0.8}};
    }

    /* Navigation */
    .site-nav .menu-lv-1 > .sub-menu-mobile {
      background: -moz-linear-gradient(top, {{section.settings.bg_dropdown_menu_1}} 0%, {{section.settings.bg_dropdown_menu_2}} 15%, {{section.settings.bg_dropdown_menu_2}} 100%);
      background: -webkit-linear-gradient(top, {{section.settings.bg_dropdown_menu_1}} 0%, {{section.settings.bg_dropdown_menu_2}} 15%, {{section.settings.bg_dropdown_menu_2}} 100%);
      background: -ms-linear-gradient(top, {{section.settings.bg_dropdown_menu_1}} 0%, {{section.settings.bg_dropdown_menu_2}} 15%, {{section.settings.bg_dropdown_menu_2}} 100%);
      background: linear-gradient(top, {{section.settings.bg_dropdown_menu_1}} 0%, {{section.settings.bg_dropdown_menu_2}} 15%, {{section.settings.bg_dropdown_menu_2}} 100%);
    }   
    .site-nav .menu-lv-1 > a, .site-nav .item > a {
      color: {{section.settings.color_menu_lv1}}
    }
    .site-nav .menu-lv-1:hover > a, .site-nav .item:hover > a {
      color: {{section.settings.hover_color_mnu_lv1}};
    }
    .site-nav .menu-lv-1:hover > a:before, .site-nav .item:hover > a:before {
      background: {{section.settings.hover_color_mnu_lv1 | color_modify: 'alpha', 0.7}};
    }
    .site-nav .no-mega-menu .menu-lv-2 .site-nav-dropdown {
      background: {{section.settings.bg_dropdown_menu_level_2}}
    }
    .site-nav .no-mega-menu .sub-menu-mobile ul li {
      border-bottom: 1px solid {{section.settings.border_dropdown_menu}};
    }
    .site-nav .no-mega-menu .menu-lv-2 .site-nav-dropdown li {
      border-bottom: 1px solid {{section.settings.border_dropdown_menu_level_2}};
    }
    .site-nav .no-mega-menu ul li > a {
      color: {{section.settings.color_menu_lv3}};
    }
    .site-nav .no-mega-menu ul li:hover > a {
      color: {{section.settings.hover_color_menu_lv3}};
    }
    .site-nav .no-mega-menu ul li:hover > a > span{
      background-image: linear-gradient(transparent 97%, {{section.settings.hover_color_menu_lv3}} 3%);
      background-repeat: repeat-x;
      background-position-y: 0px;
    }
    .site-nav .no-mega-menu ul li:hover > a:before {
      color: {{section.settings.color_menu_lv2 | color_modify: 'alpha', 0.8}};
    }

    .site-nav .mega-menu .site-nav-dropdown .menu-lv-2 > a {
      color: {{section.settings.color_menu_lv2}};
      font-size: {{section.settings.font_size_menu_lv2}};
    }
    .site-nav .mega-menu .site-nav-dropdown .menu-lv-2 > a:hover {
      color: {{section.settings.hover_color_menu_lv2}}; 
    }

    .site-nav .mega-menu .site-nav-dropdown .menu-lv-2 .dropdow-lv2 li > a {
      color: {{section.settings.color_menu_lv3}};
      font-size: {{section.settings.font_size_mnu_lv3}};
    }
    .site-nav .mega-menu .site-nav-dropdown .menu-lv-2 .dropdow-lv2 li > a:hover {
      color: {{section.settings.hover_color_menu_lv3}}; 
    }
    .site-nav .mega-menu .site-nav-dropdown .menu-lv-2 .dropdow-lv2 li > a:hover > span {
      background-image: linear-gradient(transparent 97%, {{section.settings.hover_color_menu_lv3}} 3%);
      background-repeat: repeat-x;
      background-position-y: 0px;
    }

    /* Mega Menu Style 1 */
    .site-nav .mega-menu .site-nav-dropdown .featured-product > h3 {
      color: {{section.settings.color_menu_lv2}};
    }
    .site-nav .mega-menu .site-nav-dropdown .featured-product .slick-arrow svg {
      fill: {{section.settings.featured_product_arrow_color}};
      stroke: {{section.settings.featured_product_arrow_color}};
    }
    .site-nav .mega-menu .site-nav-dropdown .featured-product .product-vendor a,
    .site-nav .mega-menu .site-nav-dropdown .featured-product .product-title,
    .site-nav .mega-menu .site-nav-dropdown .featured-product .price-box .price-regular {
      color: {{section.settings.featured_product_text_color}};
    }
    .site-nav .mega-menu .site-nav-dropdown .featured-product .price-box em,
    .site-nav .mega-menu .site-nav-dropdown .featured-product .price-box .old-price {
      color: {{section.settings.featured_product_compare_price_color}};
    }
    .site-nav .mega-menu .site-nav-dropdown .featured-product .item-swatch li a {
      color: {{section.settings.featured_product_text_color | color_modify: 'alpha', 0.6}};
    }
    .site-nav .mega-menu .site-nav-dropdown .featured-product .btn {
      color: {{section.settings.featured_product_btn_color}};
      background: {{section.settings.featured_product_btn_bg}};
      border-color: {{section.settings.featured_product_btn_border}};
    }
    .site-nav .mega-menu .site-nav-dropdown .featured-product .btn:hover {
      color: {{section.settings.featured_product_btn_color_hover}};
      background: {{section.settings.featured_product_btn_bg_hover}};
      border-color: {{section.settings.featured_product_btn_border_hover}};
    }

    .site-nav .icon_sale:before {
      border-top-color: {{ bg_lb_sale }};
    }
    .site-nav .icon_new:before {
      border-top-color: {{ bg_lb_new }};
    }
    .site-nav .icon_hot:before {
      border-top-color: {{ bg_lb_hot }};
    }  

    /* Heaer Right */

    .header-bottom .right-nav .icon-nav .icon-line,
    .header-bottom .right-nav .icon-nav .icon-line:before,
    .header-bottom .right-nav .icon-nav .icon-line:after {
      background-color: {{section.settings.bg_right_menu_icon}};
    }
    .header-bottom .right-nav .icon-nav.menu-open .icon-line {
      background: rgba(255,255,255,0);
    }
    
    .site-header .lang-currency-groups .dropdown-label {
      color: {{ header_bottom_link_color }};
    }
    
    .lang-currency-groups .btn-group .dropdown-item {
      color: {{ header_bottom_link_color }};
    }
    
    .lang-currency-groups .btn-group .dropdown-item:hover,
    .lang-currency-groups .btn-group .dropdown-item:focus:
    .lang-currency-groups .btn-group .dropdown-item:active,
    .lang-currency-groups .btn-group .dropdown-item.active {
      color: {{ header_bottom_link_color }};
    }
    
    .lang-currency-groups .dropdown-menu {
      background-color: {{ bg_header_bottom_color }};
    }
  }

  @media (max-width: 1199px) {
     .site-nav .icon_sale:before {
          border-right-color: {{ bg_lb_sale }};
      }

      .site-nav .icon_new:before {
          border-right-color: {{ bg_lb_new }};
      }

      .site-nav .icon_hot:before {
          border-right-color: {{ bg_lb_hot }};
      }    
   } 
</style>

<header class="site-header" role="banner">
  {% if section.settings.display_header_top and section.settings.top_message_text != blank %}
    <div class="header-top">
        <div class="container">
            <div class="top-message">
                <p>
                {% render 'multilang' with section.settings.top_message_text %}
                </p>
            </div>    
        </div>
    </div>
    {% endif %}

    <a href="#" class="icon-nav close-menu-mb" title="Menu Mobile Icon" data-menu-mb-toogle data-dropdown-menu>
        {% render 'icon-close' %}
    </a>

    <div class="header-bottom" data-sticky>
      <div class="container">
        <div class="wrapper-header">
          
          {% render 'header-mobile' %}
          
          <div class="header-pc">
            <div class="header-panel">

              <div class="left-groups wrapper-header-logo">
                <h1 class="header-logo" itemscope itemtype="http://schema.org/Organization">
                  <meta itemprop="url" content="{{ shop.url }}">
                  {% if section.settings.brand_type == 'image' and section.settings.logo_pc != bank %}
                  <a class="logo-img" href="{{ routes.cart_url | split: 'cart' | first }}" title="Logo">
                    <img data-src="{{ section.settings.logo_pc | img_url: 'master' }}"
                         src="{{ section.settings.logo_pc | img_url: 'master' }}"
                         alt="{{ section.settings.logo_pc.alt | default: shop.name }}" itemprop="logo" class="lazyautosizes lazyloaded" data-sizes="auto">
                  </a>
                  {% elsif section.settings.brand_text != '' %}
                  <a class="logo-title" href="{{ routes.cart_url | split: 'cart' | first }}" style="width: {{ section.settings.logo_max_width }}px">
                    {{ section.settings.brand_text }}
                  </a>
                  {% else %}
                  <a class="logo-title" href="{{ routes.cart_url | split: 'cart' | first }}">
                    {{ shop.name }}
                  </a>
                  {% endif %}
                </h1>
              </div>

              <div class="center-groups wrapper-navigation">
                <nav class="nav-bar{% if section.settings.alignment == 'left' %} text-left{% elsif section.settings.alignment == 'right' %} text-right{% else %} text-center{% endif %}" role="navigation">
                    {% render 'site-nav' %}
                </nav>
              </div>

              <div class="right-groups">
                <div class="account-link">
                  {% if customer %}
                      <a class="hl-item acc-logout" href="{{ routes.cart_url | split: 'cart' | first }}account/logout">
                        <span class="text-right-hl" {% if settings.enable_multilang %} data-translate="customer.account.title" {% endif %}>
                          {{ 'customer.account.log_out' | t }}
                        </span>
                      </a>
                      <span> / </span>
                      <a class="hl-item acc-title" href="{{ routes.cart_url | split: 'cart' | first }}account">
                        <span class="text-right-hl" {% if settings.enable_multilang %} data-translate="customer.account.title" {% endif %}>
                          {{ 'customer.account.title' | t }}
                        </span>
                        {% render 'icon-user' %}
                      </a>
                  {% else %}
                      <a class="hl-item" href="{{ routes.cart_url | split: 'cart' | first }}account">
                        <span class="text-right-hl" {% if settings.enable_multilang %} data-translate="customer.account.title" {% endif %}>
                          {{ 'customer.account.title' | t }}
                        </span>
                        {% render 'icon-user' %}
                      </a>
                  {% endif %}
                </div>

                 <div class="wrapper-top-cart">
                  {% render 'wrapper-top-cart' %}
                </div>

                <div class="nav-search">                  
                  {% render 'search-bar' %}
                </div>

                <div class="right-nav">
                  <a href="#" class="icon-nav svg-mb" title="Right Menu" data-menu-toogle data-dropdown-menu>
                      <span class="icon-line"></span>
                  </a>
                  <div id="right-nav-dropdown" class="dropdown-border">
                    <ul class="right-nav-links">
                      {% if customer %}
                        <li>
                          <a class="acc-links text-hover acc-logout" id="customer_logout_link" href="/account/logout" {% if settings.enable_multilang %}data-translate="layout.customer.log_out"{% endif %}>
                          {{ 'layout.customer.log_out' | t }}
                          </a>
                        </li>
                      {% else %}  
                        
                        <li><a data-dropdown-user class="acc-links text-hover acc-sign-in" id="customer_login_link" href="{{ routes.cart_url | split: 'cart' | first }}account/login" {% if settings.enable_multilang %}data-translate="customer.login.sign_in"{% endif %}>
                          {{ 'customer.login.sign_in' | t }}
                        </a></li>

                        <li>
                          <a class="acc-links text-hover acc-regis" id="customer_register_link" href="{{ routes.cart_url | split: 'cart' | first }}account/register"{% if settings.enable_multilang %} data-translate="layout.customer.create_account"{% endif %}>
                          {{ 'layout.customer.create_account' | t }}
                          </a>
                        </li>
                      {% endif %}

                      {% if settings.enable_wishlist %}
                        <li>
                          <a class="wishlist" {% if section.settings.rightnav_wishlist_link != blank %}href="{{section.settings.rightnav_wishlist_link}}"{% else %}href="{{ routes.cart_url | split: 'cart' | first }}pages/wish-list"{% endif %} title="">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <span class="wishlist-text text-hover">
                              {% render 'multilang' with section.settings.rightnav_wishlist_title %}
                            </span>
                          </a>
                        </li>
                      {% endif %}

                      {%- assign rightnav_linklist = section.settings.rightnav_linklist -%}
                      {% if linklists[rightnav_linklist].links.size > 0 %}
                        {% for link in linklists[rightnav_linklist].links %}
                          <li>
                            <a href="{{ link.url}}" title="{{ link.title }}" class="foot-link">
                                {% render 'multilang' with link.title %}
                            </a>
                          </li>
                        {% endfor %}
                      {% endif %}                               
                    </ul>
                    <div class="lang-currency-groups">
                        {% if settings.footer_layout == 'footer_2' %}
                          {% if settings.enable_multilang_shopify %}
                            <div class="language-groups-footer2">
                              <div class="lang-block1"></div>
                            </div>
                          {% endif %}
                        {% else %}
                          {% if settings.enable_multilang_shopify %}
                            {% render 'new-language-picker' %}
                          {% endif %}
                        {% endif %}
                        {% render 'new-currency-picker' %}
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
  </div>
</header>
<script>
  window.fixtop_menu = {{ section.settings.display_fixtop_menu }};
</script>
{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Header Top"
      },
      {
        "type": "checkbox",
        "id": "display_header_top",
        "label": "Display Header Top?",
        "default": true
      },
      {
        "type": "textarea",
        "id": "top_message_text",
        "label": "Top Message Text",
        "default": "Free Shipping on All Orders"
      },
      {
        "type": "color",
        "id": "bg_header_top",
        "label": "Background Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "text_header_top_color",
        "label": "Text Color",
        "default": "#ffffff"
      },
    {
    "type": "header",
    "content": "Logo"
    },
    {
        "type": "radio",
        "id": "brand_type",
        "label": "Use image or text for logo?",
        "options": [
          {
            "value": "text",
            "label": "Text"
          },
          {
            "value": "image",
            "label": "Image"
          }
        ],
        "default": "text"
      },
      {
        "type": "textarea",
        "id": "brand_text",
        "label": "Logo text"
      },
      {
          "type": "range",
          "id": "logo_max_width",
          "label": "Custom logo width",
          "min": 50,
          "max": 250,
          "step": 5,
          "unit": "px",
          "default": 50
      },
      {
        "type": "text",
        "id": "font_size_logo",
        "label": "Logo font size",
        "default": "20px" 
      },
      {
        "type": "color",
        "id": "logo_text_color",
        "label": "Logo color",
        "default": "#0f0f0f"
      },
      {
       "type": "image_picker",
        "id": "logo",
        "label": "Logo image for Mobile",
        "info": "160px x 25px recommended"
    },
    {
        "type": "text",
        "id": "max_height_logo_mb",
        "label": "Max Height of Logo Mobile",
        "default": "25px" 
      },
      {
       "type": "image_picker",
        "id": "logo_pc",
        "label": "Logo image for PC",
        "info": "160px x 25px recommended"
      },
      {
        "type": "text",
        "id": "max_height_logo_pc",
        "label": "Max Height of Logo PC",
        "default": "25px" 
      },
      {
        "type": "link_list",
        "id": "horizontal_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Header Bottom"
      },
      {
        "type": "color",
        "id": "bg_header_bottom_color",
        "label": "Background Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "header_bottom_text_color",
        "label": "Header Bottom Link Color",
        "default": "#0f0f0f"
      },
      {
        "type": "color",
        "id": "header_bottom_link_color",
        "label": "Header Bottom Link Color Hover",
        "default": "#0f0f0f"
      },
      
      {
        "type": "header",
        "content": "Cart Header"
      },
      {
        "type": "color",
        "id": "bg_cart_color",
        "label": "Background Color Items Cart",
        "default": "#b20000"
      },
    {
        "type": "color",
        "id": "cart_color",
        "label": "Color Items Cart",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "Right Menu icon"
      },
      {
        "type": "color",
        "id": "bg_right_menu_icon",
        "label": "Background Right Menu icon",
        "default": "#000"
      },
      {
        "type": "header",
        "content": "Right Menu Dropdown Links"
      },
      {
        "type": "color",
        "id": "text_color_menu_right",
        "label": "Text Color",
        "default": "#34313a"
      },
      {
        "type": "color",
        "id": "text_color_menu_right_hover",
        "label": "Text Hover Color",
        "default": "#34313a"
      },
      {
        "type": "text",
        "id": "rightnav_wishlist_title",
        "label": "WishList title",
        "default": "My Wishlists"
      },
      {
        "type": "url",
        "id": "rightnav_wishlist_link",
        "label": "Choose WishList Link"
      },
      {
        "type": "link_list",
        "id": "rightnav_linklist",
        "label": "Choose Information Links"
      },
      {
      "type": "header",
        "content": "Fixed Top Menu"
      },
      {
        "type": "checkbox",
        "id": "display_fixtop_menu",
        "label": "Display Fix Top Menu?",
        "default": true
      },
      {
      "type": "header",
      "content": "Navigation Text alignment"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Text alignment",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Level 1 Navigation"
    },
    {
      "type": "color",
      "id": "color_menu_lv1",
      "label": "Level 1 Menu Color",
      "default": "#0f0f0f"
    }, 
    {
      "type": "color",
      "id": "hover_color_mnu_lv1",
      "label": "Level 1 Menu color when hover",
      "default": "#0f0f0f"
    },
    {
      "type" : "header",
      "content" : "Label"
    },
    {
      "type" : "checkbox",
      "id" : "enable_sale",
      "label" : "Display Label Sale",
      "default" : true
    },
    {
      "type" : "text",
      "id" : "lb_sale",
      "label" : "Label sale",
      "default" : "Sale"
    },
    {
      "type" : "textarea",
      "id" : "sale_item",
      "label" : "Label Sale Items"
    },
    {
      "type" : "color",
      "id" : "bg_lb_sale",
      "label" : "Background color label sale",
      "default" : "#e02858"
    },
    {
      "type" : "color",
      "id" : "color_lb_sale",
      "label" : "Text Color label sale",
      "default" : "#fff"
    },
    {
      "type" : "checkbox",
      "id" : "enable_new",
      "label" : "Display Label New",
      "default" : true
    },
    {
      "type" : "text",
      "id" : "lb_new",
      "label" : "Label New",
      "default" : "New"
    },
    {
      "type" : "textarea",
      "id" : "new_item",
      "label" : "Label New Items"
    },
    {
      "type" : "color",
      "id" : "bg_lb_new",
      "label" : "Background color label New",
      "default" : "#1fade6"
    },
    {
      "type" : "color",
      "id" : "color_lb_new",
      "label" : "Text Color label New",
      "default" : "#fff"
    },
    {
      "type" : "checkbox",
      "id" : "enable_hot",
      "label" : "Display Label Hot",
      "default" : true
    },
    {
      "type" : "text",
      "id" : "lb_hot",
      "label" : "Label Hot",
      "default" : "Hot"
    },
    {
      "type" : "textarea",
      "id" : "hot_item",
      "label" : "Label Hot Items"
    },
    {
      "type" : "color",
      "id" : "bg_lb_hot",
      "label" : "Background color label Hot",
      "default" : "#f79555"
    },
    {
      "type" : "color",
      "id" : "color_lb_hot",
      "label" : "Text Color label Hot",
      "default" : "#fff"
    },
    {
      "type": "header",
      "content": "Dropdown Menu level 2"
    },
    {
      "type": "color",
      "id": "bg_dropdown_menu_1",
      "label": "Background Dropdown Menu 1",
      "default": "#f9f9f9"
    },
    {
      "type": "color",
      "id": "bg_dropdown_menu_2",
      "label": "Background Dropdown Menu 2",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "border_dropdown_menu",
      "label": "Border Bottom Dropdown Menu",
      "default": "#eaeaea"
    },
    
    {
      "type": "color",
      "id": "color_menu_lv2",
      "label": "Dropdown Menu Link Color",
      "default": "#0f0f0f"
    },
    {
      "type": "color",
      "id": "hover_color_menu_lv2",
      "label": "Dropdown Menu hover color",
      "default": "#0f0f0f"
    },
    {
      "type" : "text",
      "id" : "font_size_menu_lv2",
      "label" : "Font size Menu level 2",
      "default" : "12px",
      "info" : "======================="
    },
    {
      "type": "header",
      "content": "Dropdown Menu Level 3"
    },
    {
      "type": "color",
      "id": "bg_dropdown_menu_level_2",
      "label": "Background Dropdown Menu",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "border_dropdown_menu_level_2",
      "label": "Border Bottom Dropdown Menu",
      "default": "#eaeaea"
    },
    {
      "type" : "color",
      "id" : "color_menu_lv3",
      "label" : "Level 3 Menu Color",
      "default" : "#5f5f5f"
    },
    {
      "type" : "color",
      "id" : "hover_color_menu_lv3",
      "label" : "Level 3 Menu color when hover",
      "default" : "#005599"
    },
    {
      "type" : "text",
      "id" : "font_size_mnu_lv3",
      "label" : "Font size Menu level 3",
      "default" : "12px",
      "info" : "======================="
    },
    {
      "type": "header",
      "content": "Mega Menu"
    },
    {
      "type": "checkbox",
      "id": "display_megamenu",
      "label": "Display Mega Menu?",
      "default": true
    },
    {
      "type": "header",
      "content": "Featured Products Block"
    },
    {
        "type" : "color",
        "id" : "featured_product_text_color",
        "label" : "Text color",
        "default" : "#232323"
      },
      {
        "type" : "color",
        "id" : "featured_product_compare_price_color",
        "label" : "Compare price color",
        "default" : "#969696"
      },
      {
        "type" : "color",
        "id" : "featured_product_sale_price_color",
        "label" : "Sale price color",
        "default" : "#b20000"
      },
      {
        "type" : "color",
        "id" : "featured_product_btn_color",
        "label" : "Button color",
        "default" : "#000000"
      },
      {
        "type" : "color",
        "id" : "featured_product_btn_bg",
        "label" : "Button background",
        "default" : "#fff"
      },
      {
        "type" : "color",
        "id" : "featured_product_btn_border",
        "label" : "Button border",
        "default" : "#232323"
      },
      {
        "type" : "color",
        "id" : "featured_product_btn_color_hover",
        "label" : "Button color hover",
        "default" : "#fff"
      },
      {
        "type" : "color",
        "id" : "featured_product_btn_bg_hover",
        "label" : "Button background hover",
        "default" : "#232323"
      },
      {
        "type" : "color",
        "id" : "featured_product_btn_border_hover",
        "label" : "Button border hover",
        "default" : "#232323"
      },
      {
        "type" : "color",
        "id" : "featured_product_arrow_color",
        "label" : "Arrow color",
        "default" : "#34313a"
      }
    ],
    "blocks": [
    {
      "type": "style_1",
      "name": "Style 1",
      "settings": [
      {
      "type": "text",
      "id": "megamenu_items_1",
      "label": "Mega Menu Items for Style 1",
      "default": "Catalog"
      },
      {
        "type" : "header",
        "content" : "Column Left"
      },
      {
        "type": "select",
        "id": "style_1_per_row",
        "label": "The number of category columns per now",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ],
        "default": "3",
        "info": "you can choose 1,2,3,4 or 5 category columns for mega menu"
      },
      {
        "type" : "header",
        "content" : "Column right 1"
      },
      {
        "type" : "checkbox",
        "id" : "dpl_column_first_style_1",
        "label" : "Display column right 1",
        "default" : true
      },
      {
        "type" : "header",
        "content" : "Product"
      },
      {
        "type": "text",
        "id": "title_featured_product",
        "label": "Title Product",
        "default" : "Featured Products"
      },
      {
        "type": "collection",
        "id": "featured_product",
        "label": "Collection to use"
      },
      {
        "type": "text",
        "id": "featured_product_limit_all",
        "label": "Number of products to show",
        "default": "5"
      },
      {
        "type" : "header",
        "content" : "Column right 2"
      },
      {
        "type" : "checkbox",
        "id" : "dpl_column_second_style_1",
        "label" : "Display column right 2",
        "default" : true
      },
      {
        "type" : "header",
        "content" : "Banner"
      },    
      {
        "type": "image_picker",
        "id": "banner_first_style_1",
        "label": "Upload a new image",
        "info": "210px x 390px recommended"
      },
      {
        "type": "url",
        "id": "link_banner_first_style_1",
        "label": "Link image "
      }
    ]
    },    
    {
      "type": "style_2",
        "name": "Style 2",
        "settings": [
        {
        "type" : "header",
        "content" : "Column Left"
      },
      {
        "type" : "checkbox",
        "id" : "dpl_column_first_style_2",
        "label" : "Display column Left",
        "default" : true
      },    
      {
        "type": "image_picker",
        "id": "banner_first_style_2",
        "label": "Upload a new image",
        "info": "185px x 225px recommended" 
      },
      {
        "type": "url",
        "id": "link_banner_first_style_2",
        "label": "Link image "
      },
      {
        "type" : "header",
        "content" : "Column Right"
      },
      {
        "type": "text",
        "id": "megamenu_items_2",
        "label": "Mega Menu Items for Style 2",
        "default": "Catalog"
      },
      {
        "type": "select",
        "id": "style_2_per_row",
        "label": "The number of category columns per now",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ],
        "default": "3",
        "info": "you can choose 1,2,3,4 or 5 category columns for mega menu"
      },
      {
        "type" : "header",
        "content" : "Bottom Banner"
      },
      {
        "type" : "checkbox",
        "id" : "dpl_banner_bottom_style_2",
        "label" : "Display bottom banner",
        "default" : true
      },
      {
        "type": "textarea",
        "id": "banner_bottom_style_2_text",
        "label": "Bottom Banner Text",
        "default": "Free Shipping On All Orders. No Minimum Purchases*"
      },
      {
        "type": "color",
        "id": "banner_bottom_style_2_background",
        "label": "Banner Bottom Style 3 Background Color",
        "default": "#b49976"
      },
      {
        "type": "color",
        "id": "banner_bottom_style_2_text_color",
        "label": " Banner Bottom Style 3 Text Color",
        "default": "#ffffff"
      }
    ]
    },      
    {
      "type": "style_3",
      "name": "Style 3",
      "settings": [     
      {
        "type": "text",
        "id": "megamenu_items_3",
        "label": "Mega Menu Items for Style 3",
        "default": "Catalog"
      }
    ]
    },
    {
      "type": "style_4",
        "name": "Style 4",
        "settings": [
        {
          "type" : "header",
          "content" : "Column Left"
        },
        {
          "type": "text",
          "id": "megamenu_items_4",
          "label": "Mega Menu Items for Style 4",
          "default": "Catalog"
        },
        {
          "type": "select",
          "id": "style_4_per_row",
          "label": "The number of category columns per now",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            }
          ],
          "default": "3",
          "info": "you can choose 1,2,3,4 or 5 category columns for mega menu"
        },
        {
          "type" : "header",
          "content" : "Column Right"
        },
        {
          "type" : "checkbox",
          "id" : "dpl_column_right_style_4",
          "label" : "Display column Right",
          "default" : true
        },  
        {
          "type": "image_picker",
          "id": "banner_first_style_4",
          "label": "Upload a new image",
          "info": "185px x 225px recommended" 
        },
        {
          "type": "url",
          "id": "link_banner_first_style_4",
          "label": "Link image "
        },
        {
          "type": "image_picker",
          "id": "banner_second_style_4",
          "label": "Upload a new image",
          "info": "185px x 225px recommended" 
        },
        {
          "type": "url",
          "id": "link_banner_second_style_4",
          "label": "Link image "
        }
      ]
    }
  ]
  }
{% endschema %}
