{{ 'hero-2.css' | asset_url | stylesheet_tag }}

{% assign top = top | default: section.settings.top %}
{% assign bottom = bottom | default: section.settings.bottom %}
{% assign gap = gap | default: section.settings.gap %}
{% if section.settings.custom_color %}
<style>
    [data-section-id='{{ section.id }}'] .hero__heading {
        color: {{ section.settings.color_heading }}
    }

    [data-section-id='{{ section.id }}'] .hero__subheading {
        color: {{ section.settings.color_heading_sub }}
    }

    [data-section-id='{{ section.id }}'] .hero__text {
        color: {{ section.settings.color_text }}
    }

    [data-section-id='{{ section.id }}'] .hero__button {
        color: {{ section.settings.color_button }};
        border-color: {{ section.settings.border_button }};
        background-color: {{ section.settings.bg_button }};
    }

    [data-section-id='{{ section.id }}'] .hero__button:hover {
        filter: brightness(85%);
    }
</style>
{% endif %}

<div class="halo-section padding-top-{{ top }} padding-bottom-{{ bottom }} gap-{{ gap }}" data-section-id="{{ section.id }}" data-section-type="hero">
    {% if section.settings.hero_layout == 'fixed_width' %}
        <div class="container">
    {% else %}
        <div class="container-fluid">
    {% endif %}
        <div class="hero-2 halo-column column-{{ section.blocks.size }}">
            {% for block in section.blocks %}
            {% if section.settings.hero_size == 'large' %}
                {% assign img_url = block.settings.image | img_url: '960x900' %}
            {% elsif section.settings.hero_size == 'medium' %}
                {% assign img_url = block.settings.image | img_url: '960x720' %}
            {% elsif section.settings.hero_size == 'small' %}
                {% assign img_url = block.settings.image | img_url: '960x500' %}
            {% elsif section.settings.hero_size == 'normal' %}
                {% assign img_url = block.settings.image | img_url: '960x900' %}
            {% endif %}
            <div class="halo-column__item">
                <div class="hero hero--{{ section.settings.hero_size }} overlay--{{ section.settings.overlay }}">
                   
                    <div class="{% if section.settings.hero_size == 'normal' %}hero__image1 image--hover1 {% if block.settings.image == blank %}hero__no_image1{% endif %}{% else %}hero__image image--hover{% endif %}">
                        {% if block.settings.image == blank %}
                            <div class="placeholder-background">
                                {% if section.settings.hero_size == 'large' %}
                                    <span class="recommended_size">960x900</span>
                                {% elsif section.settings.hero_size == 'medium' %}
                                    <span class="recommended_size">960x720</span>
                                {% elsif section.settings.hero_size == 'small' %}
                                    <span class="recommended_size">960x500</span>
                                {% elsif section.settings.hero_size == 'normal' %}
                                    <span class="recommended_size">960x900</span>
                                {% endif %}
                                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                        {% else %}
                            <a class="image--hover" href="{{ block.settings.button_link }}">
                                <img class="{% if section.settings.hero_size == 'normal' %}hero__image--background1 {% else %}hero__image--background {% endif %}lazyload" data-srcset="{{ img_url }}" alt="" data-image>
                            </a>
                        {% endif %}
                    </div>

                    <div class="hero__content content--{{ block.settings.alignment }}">
                        {% if block.settings.title != blank %}
                            <h2 class="hero__heading mega-title--{{ section.settings.text_size }}">
                                {{ block.settings.title | upcase }}
                            </h2>
                        {% endif %}
                        {% if block.settings.sub_title != blank %}
                            <h5 class="hero__subheading">
                                {{ block.settings.sub_title }}
                            </h5>
                        {% endif %}
                        {% if block.settings.text != blank %}
                            <div class="hero__text">{{ block.settings.text }}</div>
                        {% endif %}
                        {% if block.settings.button != blank %}
                            <div class="hero__button--wrapper">
                                <a href="{{ block.settings.button_link }}" class="btn btn--primary hero__button" aria-label="link">
                                    {{ block.settings.button }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Image with text overlay 2",
    "max_blocks": 3,
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
        {
            "type": "range",
            "id": "top",
            "label": "Spacing Top",
            "default": 30,
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "bottom",
            "label": "Spacing bottom",
            "default": 30,
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "gap",
            "label": "Gap",
            "default": 30,
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "header",
            "content": "Banner Image"
        },   
        {
            "type": "select",
            "id": "hero_layout",
            "label": "Layout",
            "default": "full_width",
            "options": [
                {
                    "label": "Full width",
                    "value": "full_width"
                },
                {
                    "label": "Fixed width",
                    "value": "fixed_width"
                }
            ]
        },
        {
            "type": "select",
            "id": "hero_size",
            "label": "Section height",
            "default": "normal",
            "options": [
                {
                    "label": "Normal",
                    "value": "normal"
                },
                {
                    "label": "Small",
                    "value": "small"
                },
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                }
            ]
        },
        {
            "type": "range",
            "id": "hero_size",
            "label": "Section Height",
            "default": 30,
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Overlays",
            "default": "dark",
            "options": [
                {
                    "label": "Dark",
                    "value": "dark"
                },
                {
                    "label": "Light",
                    "value": "light"
                }
            ]
        },
        {
            "type": "header",
            "content": "Banner Content"
        },
        {
            "type": "select",
            "id": "text_size",
            "label": "Text size",
            "default": "medium",
            "options": [
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                }
            ]
        },
        {
            "type": "header",
            "content": "Custom Color"
        },
        {
            "type": "checkbox",
            "id": "custom_color",
            "label": "Turn on custom color",
            "default": false
        },
        {
            "type": "color",
            "id": "color_heading",
            "label": "Heading Color"
        },
        {
            "type": "color",
            "id": "color_heading_sub",
            "label": "Sub Heading Color"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Description Color"
        },
        {
            "type": "color",
            "id": "color_button",
            "label": "Button Text Color"
        },
        {
            "type": "color",
            "id": "border_button",
            "label": "Button Border Color"
        },
        {
            "type": "color",
            "id": "bg_button",
            "label": "Button Background Color"
        }
    ],
    "blocks": [
        {
            "type": "banner_block",
            "name": "Banner Block",
            "settings": [
                {
                    "type": "header",
                    "content": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "header",
                    "content": "Content"
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Text alignment",
                    "default": "left",
                    "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "middle",
                        "label": "Center"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                    ]
                },
                {
                    "type": "text",
                    "id": "sub_title",
                    "label": "Sub Heading",
                    "default": "Editor’s Picks"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "#Trending Now"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "text",
                    "id": "button",
                    "label": "Button",
                    "default": "Shop Now"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image with text overlay 2",
            "category": "Images",
            "blocks": [
                {
                    "type": "banner_block"
                },
                {
                    "type": "banner_block"
                }
            ]
        }
    ]
}
{% endschema %}
