{% if section.settings.show_home_new_products_tab %}
<section class="home-new-product-tab" data-id="{{section.id}}" id="section-{{section.id}}" data-product-tabs>
    <div class="container">
        {% if section.settings.new_product_tab_title != blank %}
        <div class="widget-title">
            <h3 class="box-title">
                <span class="title">
                    {% render 'multilang' with section.settings.new_product_tab_title %}
                </span>
            </h3>
        </div>
        {% endif %}
        <div class="widget-product">
            <ul class="nav nav-tabs list-product-tabs">
                {% for block in section.blocks %}
                {% assign collection = collections[block.settings.collection] %}
                {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
                <li>
                    <a href="#tab-product-{{ block.id }}" data-target="#product-tab-{{ block.id }}" data-product-tabTop data-href="/collections/{{ block.settings.collection }}?view=json" class="tab-links {% if forloop.first %}active{% endif %}" id="tab-{{ block.id }}" data-id="{{ block.id }}" data-toggle="tab" role="tab" aria-selected="true" {% if settings.enable_multilang %}data-translate="collections.general.link_title|title:{{collection_title}}" translate-item="title" {% endif %}>
                        {% render 'multilang' with collection.title %}
                    </a>
                    <span class="dots"></span>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content product-tabs-content">
               {% for block in section.blocks %}
                <div class="tab-content{% if forloop.first %} show active{% endif %}" data-product-TabContent id="product-tab-{{ block.id }}">
                    <div class="products-grid row {{ row }} {% if section.settings.collection_layout == 'carousel' %}collection-carousel{% endif %}" data-row="{{ section.settings.products_tab_results_per_row }}" data-rowlt="5" data-rowtb="3" data-rowtblg="3" data-rowbm="2">
                        <div class="loading col-12"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
    "name": "New Products Tab",
    "max_blocks" : 10,
"settings": [
{
    "type": "checkbox",
    "id": "show_home_new_products_tab",
    "label": "Enable",
    "default": true
},
{
    "type": "range",
    "id": "space_on",
    "label": "Space on",
    "min": 0,
    "max": 100,
    "step": 1,
    "default": 0
},
{
    "type": "range",
    "id": "space_below",
    "label": "Space below",
    "min": 0,
    "max": 100,
    "step": 1,
    "default": 60
},
{
    "type": "text",
    "id": "new_product_tab_title",
    "label": "Title",
    "default": "New Releases"
},
{
    "type": "text",
    "id": "all_products_title",
    "label": "All Products tab title",
    "default": "All Products"
},
{
    "type": "select",
    "id": "collection_layout",
    "label": "Layout",
    "default": "carousel",
    "options": [
        {
            "value": "grid",
            "label": "Grid"
        },
        {
            "value": "carousel",
            "label": "Carousel"
        }
    ]
},
{
    "type": "select",
    "id": "products_tab_results_per_row",
    "label": "Products per row",
    "options": [
    {
        "value": "3",
        "label": "3"
    },
    {
        "value": "4",
        "label": "4"
    },
    {
        "value": "5",
        "label": "5"
    },
    {
        "value": "6",
        "label": "6"
    }
    ],
    "default": "6"
}
],
"blocks" : [
{
    "type" : "NewProductTabs",
    "name" : "New Product Tabs",
    "settings":[
    {
        "type" : "collection",
        "id" : "collection",
        "label" : "Collection to use"
    }
    ]
}
],
"presets": [
{
    "name": "New Products Tab",
    "category": "Collection"
}
]
}
{% endschema %}
<style>
#section- {
        {
        section.id
    }
}

    {
    margin-top: {
            {
            section.settings.space_on
        }
    }

    px;

    margin-bottom: {
            {
            section.settings.space_below
        }
    }

    px;
}
</style>