{% if section.blocks.size > 0 %}
<div class="home2-custom-block" id="custom-block-{{section.id}}">
    <div class="container">
        {% if section.settings.widget_title != blank %}
        <div class="widget-title">   
            <h3 class="box-title">
                <span class="title"> 
                    {% render 'multilang' with section.settings.widget_title %}
                </span>
            </h3>
            {% if section.settings.widget_des != blank %}
            <p>
                {% render 'multilang' with section.settings.widget_des %}
            </p>        
            {% endif %}
        </div>
        {% endif %}

        <div class="row">
            {% for block in section.blocks %}

            <div class="col-12">
                <div class="custom-block-banner banner-large-img">
                    <div class="img-box">
                        <a href="{{ block.settings.link }}">
                            {%- assign img_url = block.settings.image | img_url: 'master' -%}


                            {% if block.settings.image != blank %}
                            <img data-src="{{ img_url }}"
                                src="https:{{ img_url }}" alt="{{ block.settings.image.alt | default: shop.name }}" itemprop="logo"
                                class="lazyautosizes lazyloaded" data-sizes="auto">
                            {% else %}
                            <div class="not_img">
                            1570 x 670px
                            </div>   
                            {% endif %}                        
                        </a>

                       
                    </div>
                
                    {% if block.settings.banner_title != blank or block.settings.banner_heading != blank or block.settings.banner_des != blank  or block.settings.banner_button != blank %}
                    <div class="banner-content inner {% if block.settings.alignment == 'left' %}abs_left{% elsif block.settings.alignment == 'right' %}abs_right{% else %}abs_center{% endif %}">

                        {% if block.settings.banner_title != blank %}
                        <h4 class="banner-title"
                            style="{% if block.settings.font_size_banner_title != blank %}
                                font-size: {{ block.settings.font_size_banner_title }};
                                {% endif %}
                                {% if block.settings.color_banner_title != blank %}
                                color:{{ block.settings.color_banner_title }};
                                {% endif %}">
                        {% render 'multilang' with block.settings.banner_title  %}
                        </h4>
                        {% endif %}

                        {% if block.settings.banner_heading != blank %}
                        <h2 class="banner-heading"
                            style="{% if block.settings.font_size_banner_heading != blank %}
                                font-size: {{ block.settings.font_size_banner_heading }};
                                {% endif %}
                                {% if block.settings.color_banner_heading != blank %}
                                color:{{ block.settings.color_banner_heading }};
                                {% endif %}">
                        {% render 'multilang' with block.settings.banner_heading  %}
                        </h2>
                        {% endif %}

                        {% if block.settings.banner_des != blank %}
                        <p class="banner-des"
                            style="{% if block.settings.font_size_banner_des != blank %}
                                    font-size: {{ block.settings.font_size_banner_des }};
                                    {% endif %}
                                    {% if block.settings.color_banner_des != blank %}
                                    color: {{ block.settings.color_banner_des }};
                                    {% endif %}">
                        {% render 'multilang' with block.settings.banner_des  %}
                        </p>
                        {% endif %}

                        {% if block.settings.banner_button != blank %}
                        <a href="{{ block.settings.link }}" class="banner-button btn"
                        style="{% if block.settings.bg_banner_button != blank %}
                                background-color:{{ block.settings.bg_banner_button }};
                                {% endif %}
                                {% if block.settings.border_banner_button != blank %}
                                border-color:{{ block.settings.border_banner_button }};
                                {% endif %}
                                {% if block.settings.color_banner_button != blank %}
                                color:{{ block.settings.color_banner_button }};
                                {% endif %}
                                {% if block.settings.min_width_banner_button != blank %}
                                min-width:{{ block.settings.min_width_banner_button }};
                                {% endif %}">
                        {% render 'multilang' with block.settings.banner_button %}
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}  
                </div>

            </div>
            <style>
              .home2-custom-block .banner-large-img .banner-content .banner-button:hover{
                  color: {{ block.settings.color_banner_button_hover }} !important;
                  background-color: {{ block.settings.bg_banner_button_hover }} !important;
                  border: 1px solid {{ block.settings.border_banner_button_hover }} !important;
              } 
            </style>
            {% endfor %}
        </div>
    </div>
</div>

<style>
  {% assign margin_bottom =  section.settings.margin_bottom %}  

    @media (max-width: 767px) {
        #custom-block-{{ section.id }} {
            margin-bottom: {{ section.settings.margin_bottom_mb }}px;
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        #custom-block-{{ section.id }} {
            margin-bottom: {{ section.settings.margin_bottom_tab }}px;
        }
    }
  
    @media (min-width: 1200px) {
        #custom-block-{{ section.id }} {
        margin-bottom: {{ margin_bottom }}px;
        }
    }
   

</style>
{% endif %}


{% schema %}
  {
    "name": "Custom Block 2 Banners",
    "class": "home-custom-block-baner-sections",
    "max_blocks": 1,
    "settings": [
        {
            "type": "header",
            "content": "Header"
        },
        {
            "type": "text",
            "id": "widget_title",
            "label": "Widget Title"
        },
        {
            "type" : "textarea",
            "id" : "widget_des",
            "label" : "Description"
        },
        {
            "type": "header",
            "content": "Margin Bottom:"
        },
        {
            "type": "range",
            "id": "margin_bottom_mb",
            "label": "Mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom_tab",
            "label": "Tablet",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 0
        },             
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin Bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 0
        }    
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Custom Block",
            "settings": [           
                {
                    "type": "image_picker",
                    "id": "image",
                    "label" : "Select Image"
                },
                {
                    "type": "header",
                    "content": "Banner Content"
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Text alignment",
                    "default": "left",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ]
                },
                {
                    "type" : "text",
                    "id" : "banner_title",
                    "label" : "Banner Title",
                    "default" : "Editor’s Picks"
                },
                {
                    "type" : "text",
                    "id" : "font_size_banner_title",
                    "label" : "Title Font Size ",
                    "default" : "14px"
                },
                {
                    "type" : "color",
                    "id" : "color_banner_title",
                    "label" : "Title Color",
                    "default" : "#ffffff"
                },

                {
                    "type" : "text",
                    "id" : "banner_heading",
                    "label" : "Banner Heading",
                    "default" : "Milancelos"
                },
                {
                    "type" : "text",
                    "id" : "font_size_banner_heading",
                    "label" : "Heading Font Size ",
                    "default" : "40px"
                },
                {
                    "type" : "color",
                    "id" : "color_banner_heading",
                    "label" : "Heading Color",
                    "default" : "#ffffff"
                },
                {
                    "type" : "textarea",
                    "id" : "banner_des",
                    "label" : "Banner Description",
                    "default": "Quisquemos sodales suscipit tortor ditaemcos milancelos condimentum de cosmo lacus meleifend blanditos."
                },
                {
                    "type" : "text",
                    "id" : "font_size_banner_des",
                    "label" : "Description Font Size",
                    "default" : "12px"
                },
                {
                    "type" : "color",
                    "id" : "color_banner_des",
                    "label" : "Description Color",
                    "default" : "#ffffff"
                },
                {
                    "type" : "text",
                    "id" : "banner_button",
                    "label" : "Button Banner",
                    "default" : "Shop This Collection"
                },
                {
                    "type" : "url",
                    "id" : "link",
                    "label" : "Banner Link"
                },
                {
                    "type" : "color",
                    "id" : "bg_banner_button",
                    "label" : "Background Button",
                    "default" : "transparent"
                },
                {
                    "type" : "color",
                    "id" : "border_banner_button",
                    "label" : "Border Button",
                    "default" : "#ffffff"
                },
                {
                    "type" : "color",
                    "id" : "color_banner_button",
                    "label" : "Button Color",
                    "default" : "#ffffff"
                }, 

                {
                    "type" : "color",
                    "id" : "bg_banner_button_hover",
                    "label" : "Background Button Hover",
                    "default" : "transparent"
                },
                {
                    "type" : "color",
                    "id" : "border_banner_button_hover",
                    "label" : "Border Button Hover",
                    "default" : "#ffffff"
                },
                {
                    "type" : "color",
                    "id" : "color_banner_button_hover",
                    "label" : "Button Color Hover",
                    "default" : "#ffffff"
                },

                {
                    "type" : "text",
                    "id" : "min_width_banner_button",
                    "label" : "Banner Button Min Width",
                    "default" : "287px"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Home 2 Custom Block",
            "category": "Banner",
            "blocks": [
                {
                    "type": "image"
                }         
            ]
        }
    ]
  }
{% endschema %}