{% if section.settings.show_customer_review %}
	<section class="product-customer-review" id="section-{{section.id}}">
		<div class="customer-review-header">
			<div class="container">
				{% if section.settings.customer_review_title != blank %}
			        <div class="widget-title">   
			            <h3 class="box-title">
			                {% render 'multilang' with section.settings.customer_review_title %}
			            </h3>
			            {% if section.settings.customer_review_des != blank %}
				            <p class="desc">
				                {% render 'multilang' with section.settings.customer_review_des %}
				            </p>        
			            {% endif %}
			        </div>
			    {% endif %}
			</div>
		</div>

		<div class="customer-review-content">
			<div class="container">
			    <div id="shopify-product-reviews" data-id="{{product.id}}">
			        {{ product.metafields.spr.reviews }}
			    </div>
			</div>
		</div>
	</section>
{% endif %}
<style>
	.product-customer-review .customer-review-header {
		background: {{ section.settings.customer_review_bg }};
	}
	.product-customer-review .customer-review-header:before {
		border-top-color: {{ section.settings.customer_review_bg }};
	}
	.product-customer-review .widget-title .box-title {
		color: {{ section.settings.customer_review_title_color }};
	}
	.product-customer-review .widget-title .box-title {
		color: {{ section.settings.customer_review_title_color }};
	}
	.product-customer-review .widget-title .desc {
		color: {{ section.settings.customer_review_des_color }};
	}
</style>

{% schema %}
  {
    "name": "Customer Reviews",
    "class": "product-customer-review",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_customer_review",
            "label": "Enable",
            "default": true
        },
        {
            "type": "textarea",
            "id": "customer_review_title",
            "label": "Customer Reviews Title",
            "default": "Customer Reviews"
        },
        {
            "type": "textarea",
            "id": "customer_review_des",
            "label": "Customer Reviews Description",
            "default": "Nam tempus turpis at metus scelerisque placerat nulla deumantos."
        },
        {
            "type" : "color",
            "id" : "customer_review_bg",
            "label" : "Background Header Color",
            "default" : "#f8f8f8"
        },
        {
            "type" : "color",
            "id" : "customer_review_title_color",
            "label" : "Title Color",
            "default" : "#232323"
        },
        {
            "type" : "color",
            "id" : "customer_review_des_color",
            "label" : "Description Color",
            "default" : "#5f5f5f"
        }
	]
  }
{% endschema %}