{% if section.settings.display_recently_viewed_products %}
<section class="product-widget-tab" data-id="{{section.id}}" id="section-{{section.id}}" data-product-tabs>
  <div class="container">
    <div class="widget-product">
      <ul class="nav nav-tabs list-product-tabs">
        {% if section.settings.display_recently_viewed_products %}
          <li>
            <a href="#tab-product-recently-viewed" data-target="#product-tab-recently-viewed" data-product-tabTop class="tab-links active" id="tab-recently-viewed" data-id="recently-viewed" data-toggle="tab" role="tab" aria-selected="true">
              {% render 'multilang' with section.settings.recently_viewed_products_title %}
            </a>
            <span class="dots"></span>
          </li>
        {% endif %}
      </ul>
      <div class="tab-content product-tabs-content">      
        <div class="tab-content active" role="tabpanel" id="product-tab-recently-viewed" data-product-TabContent>
            {% render 'product-widget-recently-viewed' %}
        </div>
      </div>
    </div>
    
  </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Products Custom Recently",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_products_widget_tab",
        "label": "Enable",
        "default": true
      },
	    {
        "type": "range",
        "id": "space_on",
        "label": "Space on",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 40
      },
      {
        "type": "range",
        "id": "space_below",
        "label": "Space below",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 70
      },
      {
        "type": "checkbox",
        "id": "display_recently_viewed_products",
        "label": "Display Recently Viewed Products?",
        "default": true
      },
      {
        "type": "text",
        "id": "recently_viewed_products_title",
        "label": "Title of recently viewed products",
        "default": "Recently Viewed Products"
      },
      {
        "type": "text",
        "id": "slider_products_tab_limit_all",
        "label": "Number of products to show",
        "default": "8"
      },
      {
        "type": "select",
        "id": "products_tab_results_per_row",
        "label": "Products per row",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ],
        "default": "5"
     }
	]
  }
{% endschema %}
<style>
  #section-{{section.id}}{
    margin-top: {{ section.settings.space_on }}px;
    margin-bottom: {{ section.settings.space_below }}px;
  }
</style>