{% if section.settings.display_sidebar_blog_page %}
<div class="sidebar-label-blog">
  <a class="halo-fillter sidebar-label" href="javascript:void(0)">
        <span class="icon-filter">{% render 'icon_filter' %}</span>
        <span class="sidebar_more" {% if settings.enable_multilang %}data-translate="blogs.sidebar.sidebar_more_blog"{% endif %}>
          {{ 'blogs.sidebar.sidebar_more_blog' | t }}
        </span>
  </a> 
  <div class="close-filter hide">       
    <a href="javascript:void(0)" title="Close">
      {% render 'icon-close' %}
    </a>
  </div>
</div>
<div class="sidebar sidebar-blog">
  {% if section.settings.display_categories %}

  <div class="widget-search">
    <div class="widget-header">
      <h4>
        {% render 'multilang' with section.settings.title_search %}
      </h4>
    </div>
    <form action="{{ routes.search_url }}" method="get" class="widget-form" role="search">
      <input type="hidden" name="type" value="article">
      <input type="text" name="q" value="{{ search.terms | escape }}" {% if settings.enable_multilang %}data-translate="general.search.placeholder" translate-item="placeholder"{% endif %} placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field" aria-label="Search Site" autocomplete="off">
      <button type="submit" class="btn btn-search">
        {% render 'icon-search' %}
      </button>
    </form>
  </div>

  <div class="widget-categories">
    <div class="widget-header">
      <h4>
        {% render 'multilang' with section.settings.title_categories %}
      </h4>
    </div>
   
    {%- assign blog_linklist = section.settings.blog_linklist -%}

    {% if linklists[blog_linklist].links.size > 0 %}
      <div class="widget-content">
        <ul>
          {% for link in linklists[blog_linklist].links %}
          <li><a href="{{ link.url}}">{% render 'multilang' with link.title %}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  {% endif %}

  {% if section.settings.sidebar_recent_art %}
    {% render 'widget_article' %}
  {% endif %}

  {% if section.settings.enable_pr %}
  <div class="sidebar-product">
    <div class="widget-header">
      <h4>
        {% render 'multilang' with section.settings.title_pr %}
      </h4>
    </div>
    <div class="widget-product">
      <div class="products-grid row {{ row }} has-slick" data-infinite="false" data-row="1">
        {% for product in collections[section.settings.best_seller_collection].products limit:section.settings.slider_best_seller_limit_all %}
        <div class="grid-item {{ grid_item_width }}{% if settings.product_image_border %} grid-item-border{% endif %} ">
          {% render 'product-grid-item-sidebar' with product as product %}
        </div>

        {% else %}
        {% for product in (1..section.settings.slider_best_seller_limit_all) %}
        <div class="grid-item {{ grid_item_width }}">
          <div class="grid-view-item no-product">
            <div class="product-top">
              <div class="not_img">
                Product Img
              </div>
            </div>

            <div class="product-bottom">
              <div class="product-title">
                <span>
                  Your product's name
                </span>
              </div>

              <div class="price-box">
                <span> $250.00 </span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if section.settings.enable_banner %}
  <div class="sidebar-banner">
    <div class="widget-content">
      {% if section.settings.image_1 != blank %}
      <div class="banner-first banner-item">
        <a href="{{ section.settings.link_1 }}">
          <img src="{{ section.settings.image_1  | img_url: '100x' }}" alt=""             
               data-src="{{ section.settings.image_1  | img_url: '600x' }}"
               class="lazyload"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{  section.settings.image_1.aspect_ratio }}"
               data-sizes="auto">
        </a>
      </div>
      {% endif %}

      {% if section.settings.image_2 != blank %}
      <div class="banner-last banner-item">
        <a href="{{ section.settings.link_2 }}">
          <img src="{{ section.settings.image_2  | img_url: '100x' }}" alt=""             
               data-src="{{ section.settings.image_2  | img_url: '600x' }}"
               class="lazyload"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{  section.settings.image_2.aspect_ratio }}"
               data-sizes="auto">
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% if section.settings.enable_custom %}
  <div class="sidebar-custom-html">
    <div class="widget-header">
      <h4>
        {% render 'multilang' with section.settings.title_custom %}
      </h4>
    </div>

    <div class="widget-content">
      {% if settings.enable_multilang %}
      <div class="lang1">
        {{ section.settings.quote | split: '|' | first | strip }}
      </div>
      <div class="lang2">
        {{ section.settings.quote | split: '|' | last | strip }}
      </div>
      {% else %}
      <div>
        {{ section.settings.quote | split: '|' | first }}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
{% endif %}
<style>
  @media (min-width: 1200px){
    {% unless section.settings.display_sidebar_blog_page %}
    .halo-blog-page .col-main {
      width: 100%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    {% endunless %}

    {% if section.settings.show_sidebar == 'right' %}
    .halo-blog-page .row {
      -webkit-flex-direction: row-reverse;
      -moz-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
    {% endif %}
  }
</style>
{% schema %}
  {
    "name": "Blog Sidebar",
    "settings": [
      {
        "type": "checkbox",
        "id": "display_sidebar_blog_page",
        "label": "Enable Sidebar",
        "default": true
      },
      {
        "type": "select",
        "id": "show_sidebar",
        "label": "Show Sidebar on:",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }          
        ],
        "default": "left",
        "info": "Default: Left"
      },
      {
        "type": "checkbox",
        "id": "sidebar_recent_art",
        "label": "Show Block Recent Article",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "sidebar_tag",
        "label": "Show Block Tag",
        "default": true
      },
      {
      "type" : "header",
      "content" : "Search"
      },
      {
        "type" : "text",
        "id" : "title_search",
        "label" : "Title Search",
        "default" : "Search"
      },
  	  {
  		"type" : "header",
  		"content" : "Categories"
  	  },
      {
        "type" : "checkbox",
        "id" : "display_categories",
        "label" : "Display Categories",
        "default" : true
      },
      {
        "type" : "text",
        "id" : "title_categories",
        "label" : "Title Categories",
        "default" : "Categories"
      },
      {
        "type": "link_list",
        "id": "blog_linklist",
        "label": "Select Categories"
      },
  	  {
  		"type" : "header",
  		"content" : "Product"
  	  },
      {
        "type": "checkbox",
        "id": "enable_pr",
        "label": "Display Product",
        "default": true
      },
      {
        "type": "text",
        "id": "title_pr",
        "label": "Title",
		"default" : "Featured Products"
      },
      {
        "id": "best_seller_collection",
        "type": "collection",
        "label": "Select Collection"
      },
      {
        "type": "text",
        "id": "slider_best_seller_limit_all",
        "label": "Number of products to show",
        "default": "4"
      },
	  {
		"type" : "header",
		"content" : "Banner"
	  },
      {
        "type": "checkbox",
        "id": "enable_banner",
        "label": "Display Banner",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Banner 1"
      },
      {
        "type": "url",
        "id": "link_1",
        "label": "Banner Link 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Banner 2"
      },
      {
        "type": "url",
        "id": "link_2",
        "label": "Banner Link 2"
      },
	  {
		"type" : "header",
		"content" : "Custom Block"
	  },
      {
        "type": "checkbox",
        "id": "enable_custom",
        "label": "Display Custom Block",
        "default": true
      },
      {
        "type": "text",
        "id": "title_custom",
        "label": "Heading",
        "default": "Custom CMS Block"
      },
      {
        "type": "textarea",
        "id": "quote",
        "label": "Text",
        "default": "Add customer reviews and testimonials to showcase your store’s happy customers."
      }
    ]
  }
{% endschema %}